

<div id="header" >
    <div class="container tbwp">
        <a class="lg" href="/">
            <div class="pics">
                <img class="j1" src="https://hacash.org/cssimg/hacash_btc.svg" />
                <img class="j2" src="https://hacash.org/cssimg/hacash_hacd.svg" />
                <img class="j3" src="https://hacash.org/cssimg/hacash_logo.svg" />
            </div>
            <h1>[:=lang.header.title_big:]
            <!-- <span>[:=lang.header.title_small:]</span> -->
        </h1></a>
        <div class="search">
            <input class="input" @keyup="keyEnterSearch" v-model="search_str" placeholder="[:=lang.header.search_input_placeholder:]" />
            <button @click="clickSearch">[:=lang.header.search:]</button>
        </div>
        <div class="clear"></div>
    </div>
    <div class="navs">
        <div class="container nvs">
            <a class="nv" href="/">[:=lang.header.navs[0]:]</a>
            <a class="nv" href="#blks">[:=lang.header.navs[1]:]</a>
            <a class="nv" href="#hacdvs">[:=lang.header.navs[2]:]</a>
            <a class="nv" href="#ly2ch">[:=lang.header.navs[3]:]</a>
            <a class="nv" href="#holders">[:=lang.header.navs[4]:]</a>
        </div>
    </div>
</div>



