<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>[:=this.pagetitle||'Hacash':]</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link rel="stylesheet" href="/jscss/[:=this.page_vname||'html':].css?v=[:=this.page_version:]">

    [: if(this.theme && this.theme=='2'){ :]
    <link rel="stylesheet" href="/jslib/theme.black.css?v=[:=this.page_version:]">
    [: } :]

    <script src="/jslib/vue.min.js?v=1"></script>
    <script src="/jslib/axios.min.js?v=1"></script>

</head>


<body>



