#address .fmtnote {
  height: 16px;
  width: 16px;
  display: inline-block;
  text-align: center;
  border-radius: 100px;
  background: #999;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  margin-left: 10px;
}
#address .fmtnote:hover {
  background: chocolate;
}
#address .cfmtip {
  margin-top: 20px;
  background-color: #eedba2;
  padding: 10px 12px;
  border-radius: 4px;
  color: chocolate;
}
#address .info .li {
  font-size: 12px;
  color: #999;
  line-height: 30px;
}
#address .info .li b {
  color: #000;
  font-size: 13px;
  padding-left: 10px;
}
#address .btn {
  background-color: steelblue;
  padding: 0 12px;
  height: 36px;
  line-height: 36px;
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}
#address .alldmdns {
  font-family: 'Courier New', Courier, monospace;
}
#address .alldmdns i {
  display: inline-block;
  font-family: inherit;
  font-size: 14px;
}
#address .ckdms {
  margin: 0 0 20px 0;
}
#address .ckdms label {
  display: block;
  font-size: 13px;
  color: #777;
  margin: 0 0 2px 5px;
}
#address .ckdms input,
#address .ckdms button {
  line-height: 32px;
  padding: 0 10px;
  border: 1px solid #bbb;
  border-radius: 6px;
  font-size: 14px;
  width: 50%;
}
#address .ckdms button {
  width: auto;
  margin-left: 10px;
}
#address .transfers .hdtt i,
#address .channel .hdtt i {
  font-size: 12px;
  color: #aaa;
}
#address .transfers .ttp,
#address .channel .ttp {
  padding-bottom: 18px;
}
#address .transfers .ttp label,
#address .channel .ttp label {
  padding: 10px;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 4px;
  background: #ffffff44;
}
#address .transfers .ttp label:hover,
#address .channel .ttp label:hover {
  background: #fff;
}
#address .transfers .datas div.row,
#address .channel .datas div.row {
  padding: 10px 0;
}
#address .transfers .datas label,
#address .channel .datas label {
  color: #aaa;
  display: inline-block;
  width: 40px;
  text-align: right;
}
#address .transfers .datas p,
#address .channel .datas p {
  display: inline-block;
}
#address .transfers .datas b,
#address .channel .datas b {
  color: #333;
  display: inline-block;
  margin-right: 12px;
  margin-left: 5px;
}
#address .transfers .datas b u,
#address .channel .datas b u {
  color: darkolivegreen;
  border-radius: 4px;
  padding: 0 2px;
  border: 1px #aaa dashed;
}
#address .transfers .datas .type,
#address .channel .datas .type {
  color: cadetblue;
}
#address .transfers .datas .block,
#address .channel .datas .block {
  color: dodgerblue;
}
#address .transfers .datas .block:hover,
#address .channel .datas .block:hover {
  text-decoration: underline;
}
#address .transfers .datas .addr,
#address .channel .datas .addr {
  color: dodgerblue;
}
#address .transfers .datas .id,
#address .channel .datas .id {
  color: mediumseagreen;
}
#address .transfers .datas .id:hover,
#address .channel .datas .id:hover {
  text-decoration: underline;
}
#address .transfers .datas .hacd,
#address .channel .datas .hacd {
  color: #55afff;
}
#address .transfers .datas .sat,
#address .channel .datas .sat {
  color: #afa95d;
}
#address .transfers .more,
#address .channel .more {
  text-align: center;
  padding: 10px 0;
}
#address .transfers .more button,
#address .channel .more button {
  display: inline-block;
  background: cadetblue;
  color: #fff;
  font-size: 12px;
  line-height: 26px;
  height: 26px;
  padding: 0 20px;
  border-radius: 4px;
  cursor: pointer;
}
#address .transfers .more button:hover,
#address .channel .more button:hover {
  box-shadow: 1px 1px 8px #bbb;
}
#address .transfers .ok,
#address .channel .ok {
  text-align: center;
  font-size: 12px;
  color: #bbb;
}
#address .channel .datas p label {
  width: auto;
}
@media screen and (max-width: 512px) {
  #address .transfers .datas p {
    display: block;
  }
  #address .channel .datas p {
    display: block;
  }
}
