html,
body {
  background-color: #e6e9ee;
}
.dfctshow {
  display: block;
  height: 100px;
  width: 100%;
  border-top: 1px solid #88888844;
}
#dfcts .wrap {
  position: relative;
}
#dfcts .wrap .tt {
  display: block;
  padding: 5px 0;
  color: #aaa;
  font-size: 12px;
  width: 100%;
}
#dfcts .wrap .tt p {
  display: block;
  padding: 2px 5px;
  padding-left: 15px;
}
#dfcts .wrap .tt p b {
  color: goldenrod;
  font-size: 16px;
  font-weight: bold;
}
div.pmore {
  display: block;
  padding: 20px 0;
  text-align: center;
}
div.pmore .button {
  display: inline-block;
  background: cadetblue;
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  height: 14px;
  padding: 6px 18px;
  border-radius: 4px;
  cursor: pointer;
}
div.pmore .button:hover {
  box-shadow: 1px 1px 8px #bbb;
}
div.pmore .button span {
  font-size: 12px;
  line-height: 14px;
}
.mtable .wrap {
  background-color: #f3f4f7;
  border-radius: 4px;
}
.mtable .wrap h1 {
  color: #233;
  font-size: 14px;
  line-height: 17px;
  padding: 10px 16px;
}
.mtable .wrap h1 span.tv {
  padding-top: 2px;
  float: right;
  font-size: 10px;
  color: #999;
}
.mtable .wrap .con {
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  padding: 20px 0;
  text-align: center;
}
.mtable .wrap .con table {
  display: inline-block;
  border-collapse: collapse;
  border: none;
}
.mtable .wrap .con table tr {
  position: relative;
}
.mtable .wrap .con table th,
.mtable .wrap .con table td {
  padding: 10px;
  font-size: 12px;
  line-height: 14px;
}
.mtable .wrap .con table th {
  background: #a0cdcd22;
  color: #899;
  font-weight: bold;
}
.mtable .wrap .con table td {
  white-space: pre-wrap;
  word-break: break-all;
  border-bottom: 1px solid #00000011;
}
.mtable .wrap .con table td.gray {
  color: gray;
}
.mtable .wrap .con table td.hei {
  color: #899;
}
.mtable .wrap .con table td.sienna {
  color: sienna;
}
.mtable .wrap .con table td.dts a {
  color: darkseagreen;
  cursor: pointer;
}
.mtable .wrap .con table td.dts a:hover {
  text-decoration: underline;
}
.mtable .wrap .item {
  padding: 15px 0;
  border-bottom: #899 1px dashed;
}
.mtable .wrap .item p {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  word-break: break-all;
}
.mtable .wrap .item p u {
  display: inline-block;
  width: 30px;
}
.mtable .wrap .item p.wide {
  width: 180px;
}
.mtable .wrap .item p.block {
  width: auto;
  display: block;
}
.cfmtip {
  background-color: #eedba2;
  padding: 10px 12px;
  border-radius: 4px;
  color: chocolate;
}
#ranking .dtshow .box {
  margin: 0 40px 40px;
  text-align: center;
}
#ranking .dtshow table {
  display: table !important;
  width: 100% !important;
  max-width: 500px !important;
  margin: auto;
  border-collapse: collapse !important;
  border: 1px solid lightblue !important;
}
#ranking .dtshow table td {
  border: 1px solid lightblue !important;
  padding: 5px 10px;
  color: #666;
  font-size: 14px;
  text-align: right;
}
#ranking .dtshow table td.l {
  text-align: left;
}
#ranking .dtshow table tr.hd {
  background-color: #c0e5f1;
}
#ranking .dtshow table tr.hd td {
  text-align: center;
  color: #999;
  font-weight: bold;
  padding: 10px;
}
#ranking .rktable {
  margin-top: 20px;
}
#ranking .rktable a.addr {
  color: darkseagreen;
  cursor: pointer;
}
#ranking .rktable td.n {
  color: #899;
}
#ranking .rktable td.pc {
  color: peru;
}
#ranking button.tab {
  line-height: 26px;
  height: 30px;
  margin: 10px;
  padding: 0 20px;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0.8;
  background-color: #ffffff33;
  border: 1px #fff solid;
}
#ranking button.tab:hover {
  opacity: 1;
}
#ranking button.tab.active {
  opacity: 1;
}
#ranking button.tab.t1 {
  border-color: mediumseagreen;
  color: mediumseagreen;
}
#ranking button.tab.t2 {
  border-color: dodgerblue;
  color: dodgerblue;
}
#ranking button.tab.t3 {
  border-color: goldenrod;
  color: goldenrod;
}
#ranking button.tab.t1.active {
  background-color: mediumseagreen;
  color: #fff;
  font-weight: bold;
}
#ranking button.tab.t2.active {
  background-color: dodgerblue;
  color: #fff;
  font-weight: bold;
}
#ranking button.tab.t3.active {
  background-color: goldenrod;
  color: #fff;
  font-weight: bold;
}
#coin3 {
  padding-top: 12px;
}
#coin3 .flex {
  display: flex;
  justify-content: space-between;
}
#coin3 .box {
  width: 31.6%;
}
#coin3 .con {
  padding: 10px;
  min-height: 130px;
}
#coin3 .li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
#coin3 .li label {
  font-size: 14px;
  color: #999;
}
#coin3 .li b {
  font-size: 15px;
}
#coin3 .li .nn {
  font-weight: bold;
}
#coin3 .b1 .nn {
  color: #f7af34;
}
#coin3 .b2 .nn {
  color: darkturquoise;
}
#coin3 .b3 .nn {
  color: indianred;
}
#totalsupply .wrap .con {
  padding-bottom: 0;
}
#totalsupply div.num {
  display: inline-block;
  width: 32%;
  margin-bottom: 20px;
}
#totalsupply div.num h6 {
  font-size: 14px;
  color: #aaa;
}
#totalsupply div.num b {
  font-size: 18px;
  color: cornflowerblue;
}
#totalsupply div.num b.green {
  color: mediumseagreen;
}
#totalsupply div.num b.red {
  color: indianred;
}
#totalsupply div.num b.orange {
  color: orange;
}
#totalsupply div.num b i {
  margin-left: 5px;
  color: lightsteelblue;
  font-weight: bold;
}
#diamondcreatetxs .wrap .notyet {
  text-align: center;
  padding: 16px 0;
  color: #999;
}
#diamondcreatetxs .wrap .con table td {
  border-bottom: none;
  border-top: 1px solid #00000011;
}
#diamondcreatetxs .wrap .con table td.t2 {
  font-size: 14px;
  font-weight: bold;
  color: cadetblue;
}
#diamondcreatetxs .wrap .con table td.addr a {
  display: inline-block;
  word-break: break-all;
  width: 140px;
  color: darkseagreen;
  font-size: 12px;
  line-height: 14px;
}
#diamondcreatetxs .wrap .con table td.addr.f a {
  display: inline-block;
  color: darkgrey;
}
#diamondcreatetxs .wrap .con table td.hx a {
  display: inline-block;
  word-break: break-all;
  width: 230px;
  font-size: 10px;
  color: darkgrey;
  line-height: 14px;
}
#diamondcreatetxs .wrap .con table td.fee {
  color: cadetblue;
  font-weight: bold;
}
#diamondcreatetxs .wrap .con table td.stat {
  max-width: 70px;
}
#diamondcreatetxs .wrap .con table td.stat i.ok {
  color: forestgreen;
}
#diamondcreatetxs .wrap .con table td.stat i.err {
  color: #fff;
  background-color: peru;
}
#diamondcreatetxs .wrap .con table td.stat u {
  font-size: 12px;
  color: #666;
}
#lastdiampics .pt .more {
  float: right;
  text-decoration: underline;
  color: cornflowerblue;
}
#lastdiampics .diapic {
  display: inline-block;
}
#lastdiampics .diapic svg.dvhip8 {
  margin: 20px 0;
  width: 140px;
  height: 140px;
}
#lastdiampics .diapic svg.dvhip9 {
  margin: 20px 5px;
}
#lastdiampics .diapic .name {
  font-size: 13px;
  font-weight: bold;
  color: cadetblue;
}
#lastdiampics .diapic .num {
  font-size: 12px;
  color: #999;
}
#lastdiampics .diapic:hover .name {
  text-decoration: underline;
}
#lastdiampics .viewdias {
  margin-top: 20px;
  padding: 5px 0 5px 0;
  width: 100%;
  height: 36px;
}
#lastdiampics .viewdias .vdbox {
  position: relative;
  width: 94%;
  height: 36px;
  margin: auto;
}
#lastdiampics .viewdias input {
  display: block;
  width: 100%;
  border: 1px solid #00000022;
  border-radius: 4px;
  height: 36px;
  line-height: 36px;
  background-color: #ffffff44;
}
#lastdiampics .viewdias input::placeholder {
  color: #aaa;
}
#lastdiampics .viewdias button {
  display: block;
  height: 36px;
  line-height: 36px;
  padding: 0 10px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 4px 4px 0;
  background-color: #8097b3;
  font-size: 13px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
#lastdiampics .viewdias button:hover {
  background-color: #5079bb;
}
#operateactionlogs tr .t0 a {
  color: steelblue;
}
#operateactionlogs tr .t1 b {
  display: inline-block;
  color: darkslategrey;
  width: 55px;
  font-size: 12px;
  line-height: 12px;
  word-break: break-word;
}
#operateactionlogs tr .t1 b.open {
  color: mediumseagreen;
}
#operateactionlogs tr .t1 b.close {
  color: darkgoldenrod;
}
#operateactionlogs tr .t2 a {
  color: darkseagreen;
  font-size: 12px;
  line-height: 12px;
  width: 120px;
  display: inline-block;
}
#operateactionlogs tr .t2 a:hover {
  text-decoration: underline;
}
#operateactionlogs tr .t3 a {
  display: inline-block;
  word-break: break-word;
  font-size: 12px;
  color: slategray;
  width: 260px;
}
#operateactionlogs tr .t3 a:hover {
  text-decoration: underline;
}
#operateactionlogs tr .t5 {
  max-width: 200px;
}
#operateactionlogs tr .t6 {
  color: #999;
}
#transfers .refresh {
  display: block;
  float: right;
  color: dodgerblue;
}
#transfers .refresh:hover {
  text-decoration: underline;
  cursor: pointer;
}
#transfers .con table td {
  border-bottom: 1px solid #00000011;
}
#transfers tr .t0 a {
  color: steelblue;
}
#transfers tr .t1 a {
  color: tan;
}
#transfers tr .t2 a {
  color: darkseagreen;
}
#transfers tr .t3 b {
  display: block;
  float: right;
  padding: 0px 3px;
  border-radius: 4px;
  color: cadetblue;
  font-weight: bold;
}
#transfers tr .t3 b.hacd {
  color: #55afff;
}
#transfers tr .t3 b.sat {
  color: #afa95d;
}
#transfers tr .t4 {
  color: #999;
}
#transfers td.amtw {
  position: relative;
}
#transfers td.amtw b {
  position: relative;
  z-index: 2;
}
#transfers td.amtw div.per {
  z-index: 1;
  position: absolute;
  right: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background-color: #00000011;
}
@media screen and (max-width: 512px) {
  #dfcts .wrap .tt p,
  #dfcts .wrap .tt p b {
    font-size: 12px;
  }
  .mtable.mbfix .container {
    padding: 0%;
    width: 100%;
  }
  .mtable.mbfix .wrap h1 {
    padding-top: 40px;
    color: #566;
  }
  .mtable.mbfix .wrap .con {
    padding: 0;
  }
  .mtable.mbfix .wrap .con table tr {
    display: block;
    position: relative;
  }
  .mtable.mbfix .wrap .con table tr.row {
    padding-top: 1px;
    height: 60px;
    border-top: #ddd dotted 1px;
  }
  .mtable.mbfix .wrap .con table th {
    padding: 5px;
    background: none;
  }
  .mtable.mbfix .wrap .con table th.mbn {
    display: none !important;
  }
  .mtable.mbfix .wrap .con table td {
    display: block;
    position: absolute;
    left: 50px;
    top: 50px;
    border: none !important;
    padding: 0;
  }
  #ranking .dtshow .box {
    margin: 0 5px 20px;
  }
  #ranking .dtshow table td {
    padding: 5px !important;
  }
  #ranking .rktable a.addr {
    line-height: 12px;
    width: 130px;
    word-break: break-all;
    display: block;
  }
  #totalsupply {
    margin: 0;
  }
  #totalsupply .wrap h1 {
    padding: 10px;
    padding-top: 20px;
  }
  #totalsupply .wrap .con {
    padding-top: 10px;
  }
  #totalsupply div.num {
    width: 49%;
    margin-bottom: 10px;
  }
  #totalsupply div.num h6 {
    font-size: 12px;
  }
  #totalsupply div.num b {
    font-size: 14px;
  }
  #totalsupply div.num b i {
    margin-left: 3px;
    font-weight: normal;
  }
  #dfcts_canvas {
    border: none;
  }
  #diamondcreatetxs .wrap h1 {
    padding-top: 10px;
  }
  #diamondcreatetxs .wrap .con table .row td,
  #diamondcreatetxs .wrap .con table .row td a {
    display: block;
    height: 20px;
    line-height: 20px;
    max-width: 120px;
    overflow: hidden;
    white-space: nowrap;
    word-break: break-all;
    text-overflow: ellipsis;
  }
  #diamondcreatetxs .wrap .con table td.fee {
    color: rosybrown;
    font-weight: normal;
  }
  #diamondcreatetxs .wrap .con table td.i {
    color: #888;
  }
  #diamondcreatetxs .wrap .con table .t1 {
    top: 10px;
    left: 5px;
  }
  #diamondcreatetxs .wrap .con table .t2 {
    top: 10px;
    left: 30px;
  }
  #diamondcreatetxs .wrap .con table .t3 {
    top: 10px;
    left: 110px;
  }
  #diamondcreatetxs .wrap .con table .t4 {
    top: 10px;
    left: auto;
    right: 0px;
  }
  #diamondcreatetxs .wrap .con table .t5 {
    top: 30px;
    left: 30px;
  }
  #diamondcreatetxs .wrap .con table .t6 {
    top: 30px;
    left: 110px;
  }
  #diamondcreatetxs .wrap .con table .t7 {
    top: 30px;
    left: auto;
    right: 10px;
  }
  #lastdiampics .wrap .con {
    padding-top: 20px;
  }
  #blocks .wrap .con table .hd {
    min-width: 310px;
    text-align: center;
  }
  #blocks .wrap .con table .hd th {
    display: inline-block;
  }
  #blocks .wrap .con table .t1 {
    top: 10px;
    left: 0px;
  }
  #blocks .wrap .con table .t2 {
    top: 10px;
    left: 80px;
  }
  #blocks .wrap .con table .t3 {
    top: 10px;
    left: auto;
    right: 0px;
  }
  #blocks .wrap .con table .t4 {
    top: 10px;
    left: 240px;
    display: none !important;
  }
  #blocks .wrap .con table .t5 {
    top: 30px;
    left: 0px;
  }
  #blocks .wrap .con table .t7 {
    top: 30px;
    left: 80px;
  }
  #blocks .wrap .con table .t6 {
    top: 30px;
    left: 160px;
    display: none !important;
  }
  #blocks .wrap .con table .t8 {
    top: 30px;
    left: auto;
    right: 0px;
  }
  #transfers .wrap .con table tr.row {
    height: 75px;
  }
  #transfers .wrap .con table .t1 {
    top: 10px;
    left: 10px;
  }
  #transfers .wrap .con table .t2 {
    top: 26px;
    left: 10px;
  }
  #transfers .wrap .con table .t0 {
    top: 46px;
    left: auto;
    right: 95px;
    color: lightsteelblue;
  }
  #transfers .wrap .con table .t3 {
    top: 46px;
    left: 10px;
    position: absolute !important;
  }
  #transfers .wrap .con table .t3 .per {
    display: none !important;
  }
  #transfers .wrap .con table .t4 {
    top: 46px;
    left: auto;
    right: 15px;
  }
  #operateactionlogs .wrap .con table tr.row {
    min-height: 115px;
    height: auto;
  }
  #operateactionlogs .wrap .con table tr.row a,
  #operateactionlogs .wrap .con table tr.row b {
    font-size: 12px;
    line-height: 12px;
  }
  #operateactionlogs .wrap .con table th.thwd {
    min-width: 75px;
  }
  #operateactionlogs .wrap .con table td {
    display: block !important;
    text-align: left !important;
  }
  #operateactionlogs .wrap .con table .t0 {
    top: 10px;
    left: 10px;
  }
  #operateactionlogs .wrap .con table .t2 {
    top: 10px;
    left: 70px;
  }
  #operateactionlogs .wrap .con table .t6 {
    top: 80px;
    right: 10px;
    left: auto;
  }
  #operateactionlogs .wrap .con table .t1 {
    top: 10px;
    right: 10px;
    left: auto;
  }
  #operateactionlogs .wrap .con table .t4 {
    top: 26px;
    left: 10px;
  }
  #operateactionlogs .wrap .con table .t3,
  #operateactionlogs .wrap .con table .t5 {
    width: auto !important;
    margin-right: 80px !important;
    position: static !important;
    padding: 10px;
  }
  #operateactionlogs .wrap .con table .t3 {
    margin-top: 40px;
    padding-bottom: 0;
  }
}
