html,
body {
  background-color: #e6e9ee;
}
.container {
  max-width: 960px;
}
#header .tbwp {
  display: none;
}
#header .navs {
  background-image: linear-gradient(to bottom, #ffffff66, #00000033);
  border: none;
}
#header .nvs {
  justify-content: space-between;
}
.dfctshow {
  display: block;
  height: 100px;
  width: 100%;
  border-top: 1px solid #88888844;
}
#topsc {
  padding: 30px 0;
  background-color: #44648a;
  border-top: 1px solid #00000033;
}
#topsc * {
  text-shadow: 1px 1px 1px #00000066;
  color: #ffffffdd;
}
#topsc .wrap {
  display: flex;
  justify-content: left;
}
#topsc .grow {
  flex-grow: 1;
}
#topsc .lg {
  height: 64px;
  padding: 20px;
  background: #ffffff2f;
  border-radius: 100px;
  filter: grayscale(1);
  transform: rotate(0deg);
  margin-right: 60px;
  border: 5px solid #ffffff33;
  box-shadow: 0 0 50px #ffffff88;
}
#topsc .pttl {
  font-size: 32px;
  font-weight: 900;
  text-shadow: 0 0 30px #ffffffbb;
}
#topsc .search {
  margin-top: 12px;
  position: relative;
  height: 42px;
  background-color: #ffffffdd;
  border-radius: 7px;
}
#topsc .search input {
  display: block;
  width: 100%;
  height: 42px;
  padding: 0 12px;
  background: none;
  color: #000;
  font-size: 15px;
  text-shadow: none;
}
#topsc .search button {
  position: absolute;
  top: 2px;
  right: 2px;
  border-radius: 5px;
  height: 38px;
  line-height: 38px;
  padding: 0 20px;
  background: #55afff;
  font-size: 16px;
  font-weight: 900;
  background-image: linear-gradient(45deg, #f1aa40, #00b0ff);
}
#topsc .search button:hover {
  cursor: pointer;
  box-shadow: 1px 1px 2px 1px #00000099;
}
#topsc .search button:active {
  box-shadow: none;
}
#dfcts .wrap {
  position: relative;
  border-bottom: 1px solid #ddd;
}
#dfcts .wrap .tt {
  display: block;
  padding: 5px 0;
  color: #aaa;
  font-size: 12px;
  width: 100%;
}
#dfcts .wrap .tt p {
  display: block;
  padding: 2px 5px;
  padding-left: 15px;
}
#dfcts .wrap .tt p b {
  color: goldenrod;
  font-size: 16px;
  font-weight: bold;
}
div.pmore {
  display: block;
  padding: 20px 0;
  text-align: center;
}
div.pmore .button {
  display: inline-block;
  background: cadetblue;
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  height: 14px;
  padding: 6px 18px;
  border-radius: 4px;
  cursor: pointer;
}
div.pmore .button:hover {
  box-shadow: 1px 1px 8px #bbb;
}
div.pmore .button span {
  font-size: 12px;
  line-height: 14px;
}
.mtable .wrap {
  background-color: #f3f4f7;
  border-radius: 4px;
}
.mtable .wrap h1 {
  color: #233;
  font-size: 14px;
  line-height: 17px;
  padding: 10px 16px;
  position: relative;
}
.mtable .wrap h1 span.tv {
  padding-top: 2px;
  float: right;
  font-size: 10px;
  color: #999;
}
.mtable .wrap .con {
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  padding: 20px 0;
  text-align: center;
}
.mtable .wrap .con table {
  display: inline-block;
  border-collapse: collapse;
  border: none;
}
.mtable .wrap .con table tr {
  position: relative;
}
.mtable .wrap .con table th,
.mtable .wrap .con table td {
  padding: 10px;
  font-size: 12px;
  line-height: 14px;
}
.mtable .wrap .con table th {
  background: #a0cdcd22;
  color: #899;
  font-weight: bold;
}
.mtable .wrap .con table td {
  white-space: pre-wrap;
  word-break: break-all;
  border-bottom: 1px solid #00000011;
}
.mtable .wrap .con table td.gray {
  color: gray;
}
.mtable .wrap .con table td.hei {
  color: #899;
}
.mtable .wrap .con table td.sienna {
  color: sienna;
}
.mtable .wrap .con table td.dts a {
  color: darkseagreen;
  cursor: pointer;
}
.mtable .wrap .con table td.dts a:hover {
  text-decoration: underline;
}
.mtable .wrap .item {
  padding: 15px 0;
  border-bottom: #899 1px dashed;
}
.mtable .wrap .item p {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  word-break: break-all;
}
.mtable .wrap .item p u {
  display: inline-block;
  width: 30px;
}
.mtable .wrap .item p.wide {
  width: 180px;
}
.mtable .wrap .item p.block {
  width: auto;
  display: block;
}
.cfmtip {
  background-color: #eedba2;
  padding: 10px 12px;
  border-radius: 4px;
  color: chocolate;
}
#ranking .dtshow .box {
  margin: 0 40px 40px;
  text-align: center;
}
#ranking .dtshow table {
  display: table !important;
  width: 100% !important;
  margin: auto;
  border-collapse: collapse !important;
  border: 1px solid #3299bb80 !important;
}
#ranking .dtshow table td {
  border: 1px solid #3299bb80 !important;
  padding: 5px 10px;
  color: #999;
  font-size: 14px;
  text-align: right;
  width: 25%;
}
#ranking .dtshow table td.l {
  text-align: left;
}
#ranking .dtshow table td.ct {
  text-align: center;
  color: #999;
}
#ranking .dtshow table tr.hd {
  background-color: #66c2e044;
}
#ranking .dtshow table tr.hd td {
  text-align: center;
  color: #33788f;
  font-weight: bold;
  padding: 10px;
}
#ranking .rktable {
  margin-top: 20px;
}
#ranking .rktable a.addr {
  color: darkseagreen;
  cursor: pointer;
}
#ranking .rktable td.n {
  color: #899;
}
#ranking .rktable td.pc {
  color: peru;
}
#ranking button.tab {
  line-height: 34px;
  height: 34px;
  margin: 10px;
  padding: 0 20px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0.8;
  background-color: #ffffff33;
  border: 1px #fff solid;
}
#ranking button.tab:hover {
  opacity: 1;
  text-decoration: underline;
}
#ranking button.tab.active {
  opacity: 1;
}
#ranking button.tab.t1 {
  border-color: mediumseagreen;
  color: mediumseagreen;
}
#ranking button.tab.t2 {
  border-color: dodgerblue;
  color: dodgerblue;
}
#ranking button.tab.t3 {
  border-color: goldenrod;
  color: goldenrod;
}
#ranking button.tab.t1.active {
  background-color: mediumseagreen;
  color: #fff;
  font-weight: bold;
}
#ranking button.tab.t2.active {
  background-color: dodgerblue;
  color: #fff;
  font-weight: bold;
}
#ranking button.tab.t3.active {
  background-color: goldenrod;
  color: #fff;
  font-weight: bold;
}
#coin3 {
  padding-top: 12px;
}
#coin3 .flex {
  display: flex;
  justify-content: space-between;
}
#coin3 .box {
  width: 31.6%;
}
#coin3 .con {
  padding: 10px;
  min-height: 164px;
}
#coin3 .lg {
  height: 28px;
  filter: grayscale(0.5);
  position: absolute;
  top: 5px;
  right: 10px;
  transform: rotate(15deg);
}
#coin3 .li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
#coin3 .li label {
  font-size: 14px;
  color: #999;
}
#coin3 .li b {
  font-size: 16px;
}
#coin3 .li .nn {
  font-weight: bold;
}
#coin3 .b1 .nn {
  color: #009a00;
}
#coin3 .b2 .nn {
  color: #0ea1d2;
}
#coin3 .b3 .nn {
  color: indianred;
}
#coin3 .gs {
  filter: grayscale(1);
  opacity: 0.7;
}
#coin3 .li.time b {
  color: #999 !important;
}
#coin3 .li.no {
  opacity: 0;
}
#blkrwd .con {
  padding: 15px;
}
#blkrwd .cblist {
  position: relative;
  display: flex;
  align-items: end;
}
#blkrwd .cblist .tt {
  text-align: right;
  position: absolute;
  top: 20px;
  right: 10px;
  color: #00000055;
}
#blkrwd .cblist b {
  z-index: 2;
  position: relative;
  flex: 1;
  margin-left: 2px;
  height: 16px;
  background-image: linear-gradient(to top, #0000000f, #00000033);
  border-radius: 3px 3px 0 0;
}
#blkrwd .cblist b.h1 {
  height: 16px;
}
#blkrwd .cblist b.h2 {
  height: 32px;
}
#blkrwd .cblist b.h3 {
  height: 48px;
}
#blkrwd .cblist b.h5 {
  height: 80px;
}
#blkrwd .cblist b.h8 {
  height: 128px;
}
#blkrwd .cblist b.ps {
  background-image: linear-gradient(to top, #45750833, #467508ff);
}
@keyframes curbl {
  0% {
    box-shadow: 0 0 0px 0 green;
  }
  30% {
    box-shadow: 0 0 10px 0 green;
  }
  100% {
    box-shadow: 0 0 0px 0 green;
  }
}
#blkrwd .cblist b.cur {
  background: green;
  background-image: linear-gradient(to right, #16a316, green);
  box-shadow: 0 0 10px 0 green;
  z-index: 2;
  animation: curbl 3s infinite;
}
#blkrwd .cblist i {
  display: block;
  font-size: 12px;
  width: 100%;
  height: 14px;
  line-height: 14px;
  text-align: center;
  color: #fff;
}
#blkrwd .cblist .ps i,
#blkrwd .cblist .cur i {
  position: absolute;
  left: 0;
  bottom: 0px;
  font-weight: bold;
}
#blkrwd .cblist svg {
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
#blkrwd .rwdper {
  display: block;
  margin: 20px 0;
}
#blkrwd .rwdper .tt {
  position: absolute;
  width: 100%;
  line-height: 22px;
  text-align: center;
  color: #00000055;
}
#blkrwd .rwdper .bar {
  position: relative;
  width: 100%;
  height: 22px;
  border-radius: 3px;
  border: 1px solid #0000001f;
  background-image: linear-gradient(to right bottom, #ffffff1f, #0000001f);
}
#blkrwd .rwdper .sld {
  position: relative;
  background-color: #76944c;
  background-image: linear-gradient(to right, #76944c, green);
  height: 20px;
  margin: 1px;
  border-radius: 3px;
}
#blkrwd .rwdper .sld p {
  height: 22px;
  line-height: 22px;
  position: absolute;
  top: 0;
  right: 5px;
  color: #fff;
  font-weight: bold;
}
#blkrwd .rwdper .num {
  position: absolute;
  top: 0;
  right: 10px;
  display: flex;
  justify-content: space-between;
}
#blkrwd .rwdper .num p {
  height: 22px;
  line-height: 22px;
  color: #76944c;
  font-weight: bold;
}
#blkrwd .burner {
  position: relative;
  display: block;
  height: 24px;
}
#blkrwd .burner .cp {
  z-index: 1;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#blkrwd .burner .cp b,
#blkrwd .burner .cp p {
  padding: 0 10px;
  color: #0f5318;
}
#blkrwd .burner .cp p {
  font-weight: bold;
  opacity: 0.7;
}
#blkrwd .burner .cp i {
  color: #00000044;
}
#blkrwd .burner .cp .oo {
  position: absolute;
  background-color: #ffffff;
  height: 15px;
  width: 7px;
  top: 5px;
  left: -4px;
  z-index: 3;
  border-radius: 100%;
}
#blkrwd .burner .c1 {
  background-image: linear-gradient(to right, #00000011, #05780764);
  border-radius: 8px 0 0 8px;
}
#blkrwd .burner .c2 {
  z-index: 2;
  border-left: 1px solid #fff;
  left: auto;
  right: 0;
  background-image: linear-gradient(to left, #00000011, #b4070766);
  border-radius: 0 8px 8px 0;
}
#blkrwd .burner .c2 b,
#blkrwd .burner .c2 p {
  color: #892424;
}
#ly2ch .wrap .con {
  padding-bottom: 0;
}
#ly2ch div.num {
  display: inline-block;
  width: 32%;
  margin-bottom: 20px;
}
#ly2ch div.num h6 {
  font-size: 14px;
  color: #aaa;
}
#ly2ch div.num b {
  font-size: 18px;
  color: cornflowerblue;
}
#ly2ch div.num b.green {
  color: mediumseagreen;
}
#ly2ch div.num b.red {
  color: indianred;
}
#ly2ch div.num b.orange {
  color: orange;
}
#ly2ch div.num b i {
  margin-left: 5px;
  color: lightsteelblue;
  font-weight: bold;
}
#rctblks {
  overflow: hidden;
}
#rctblks .pt .more {
  float: right;
  text-decoration: underline;
  color: cornflowerblue;
}
#rctblks .con {
  position: relative;
  overflow-x: auto;
  padding: 0;
}
#rctblks .box {
  min-width: 932px;
  padding: 14px 0 14px 14px;
}
#rctblks svg {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 960px;
  width: 100%;
  height: 100%;
}
#rctblks svg line {
  stroke: #999;
  stroke-width: 8px;
}
#rctblks .itwp {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
}
@keyframes blkanim {
  0% {
    border-radius: 0%;
    transform: scale(1);
  }
  30% {
    border-radius: 33.33%;
    transform: scale(1.16);
  }
  100% {
    border-radius: 0%;
    transform: scale(1);
  }
}
#rctblks .blk.leaf.h7 {
  animation: blkanim 2.4s infinite;
}
#rctblks .blk {
  margin: 13px;
  width: 90px;
  height: 90px;
  background-color: #eee;
  box-shadow: 3px 3px 2px #00000033;
  border-radius: 33.33%;
  overflow: hidden;
}
#rctblks .blk.h0,
#rctblks .blk.h1,
#rctblks .blk.h2,
#rctblks .blk.h3 {
  box-shadow: none;
  background-color: #ddd;
  border-radius: 12px;
  box-shadow: 1px 1px 1px #fff, 1px 1px 2px #00000022 inset;
}
#rctblks .blk.h0 p.b,
#rctblks .blk.h1 p.b,
#rctblks .blk.h2 p.b,
#rctblks .blk.h3 p.b,
#rctblks .blk.h0 p.t,
#rctblks .blk.h1 p.t,
#rctblks .blk.h2 p.t,
#rctblks .blk.h3 p.t {
  color: #666;
}
#rctblks .blk.h4 {
  box-shadow: 3px 3px 2px #00000033;
}
#rctblks .blk.h5 {
  box-shadow: 4px 4px 4px #00000044;
}
#rctblks .blk.h6 {
  box-shadow: 5px 5px 8px #00000055;
}
#rctblks .blk.h7 {
  box-shadow: 6px 6px 12px #00000066;
}
#rctblks .leaf {
  border-radius: 0px;
}
#rctblks .rect {
  width: 90%;
  height: 90%;
  padding: 5%;
}
#rctblks .rect p {
  line-height: 20px;
  height: 20px;
  word-break: keep-all;
  color: #333;
}
#rctblks .rect p.m {
  color: #999;
}
#rctblks .rect p.b {
  color: sienna;
}
#rctblks .leaf .rect {
  background-color: #009a00;
  box-shadow: 2px 2px 2px #009a0077;
}
#rctblks .leaf .rect p {
  color: #fff !important;
}
#rctblks .leaf .rect.h0 {
  background-color: #669b6611;
}
#rctblks .leaf .rect.h1 {
  background-color: #669b6633;
}
#rctblks .leaf .rect.h2 {
  background-color: #669b6655;
}
#rctblks .leaf .rect.h3 {
  background-color: #669b6677;
}
#rctblks .leaf .rect.h4 {
  background-color: #669b6699;
}
#rctblks .leaf .rect.h5 {
  background-color: #669b66bb;
}
#rctblks .leaf .rect.h6 {
  background-color: #669b66dd;
}
#rctblks .leaf .rect.h7 {
  background-color: #669b66ff;
}
#diamondcreatetxs .wrap .notyet {
  text-align: center;
  padding: 16px 0;
  color: #999;
}
#diamondcreatetxs .wrap .con table td {
  border-bottom: none;
  border-top: 1px solid #00000011;
}
#diamondcreatetxs .wrap .con table td.t2 {
  font-size: 14px;
  font-weight: bold;
  color: cadetblue;
}
#diamondcreatetxs .wrap .con table td.addr a {
  display: inline-block;
  word-break: break-all;
  width: 140px;
  color: darkseagreen;
  font-size: 12px;
  line-height: 14px;
}
#diamondcreatetxs .wrap .con table td.addr.f a {
  display: inline-block;
  color: darkgrey;
}
#diamondcreatetxs .wrap .con table td.hx a {
  display: inline-block;
  word-break: break-all;
  width: 230px;
  font-size: 10px;
  color: darkgrey;
  line-height: 14px;
}
#diamondcreatetxs .wrap .con table td.fee {
  color: cadetblue;
  font-weight: bold;
}
#diamondcreatetxs .wrap .con table td.stat {
  max-width: 70px;
}
#diamondcreatetxs .wrap .con table td.stat i.ok {
  color: forestgreen;
}
#diamondcreatetxs .wrap .con table td.stat i.err {
  color: #fff;
  background-color: peru;
}
#diamondcreatetxs .wrap .con table td.stat u {
  font-size: 12px;
  color: #666;
}
#lastdiampics .pt .more {
  float: right;
  text-decoration: underline;
  color: cornflowerblue;
}
#lastdiampics .diapic {
  display: inline-block;
}
#lastdiampics .diapic svg.dvhip8 {
  margin: 20px 0;
  width: 140px;
  height: 140px;
}
#lastdiampics .diapic svg.dvhip9 {
  margin: 20px 5px;
}
#lastdiampics .diapic .name {
  font-size: 13px;
  font-weight: bold;
  color: cadetblue;
}
#lastdiampics .diapic .num {
  font-size: 12px;
  color: #999;
}
#lastdiampics .diapic:hover .name {
  text-decoration: underline;
}
#lastdiampics .viewdias {
  margin-top: 20px;
  padding: 5px 0 5px 0;
  width: 100%;
  height: 36px;
}
#lastdiampics .viewdias .vdbox {
  position: relative;
  width: 94%;
  height: 36px;
  margin: auto;
}
#lastdiampics .viewdias input {
  display: block;
  width: 100%;
  border: 1px solid #00000022;
  border-radius: 4px;
  height: 36px;
  line-height: 36px;
  background-color: #ffffff44;
}
#lastdiampics .viewdias input::placeholder {
  color: #aaa;
}
#lastdiampics .viewdias button {
  display: block;
  height: 36px;
  line-height: 36px;
  padding: 0 10px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 4px 4px 0;
  background-color: #8097b3;
  font-size: 13px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
#lastdiampics .viewdias button:hover {
  background-color: #5079bb;
}
#operateactionlogs tr .t0 a {
  color: steelblue;
}
#operateactionlogs tr .t1 b {
  display: inline-block;
  color: darkslategrey;
  width: 55px;
  font-size: 12px;
  line-height: 12px;
  word-break: break-word;
}
#operateactionlogs tr .t1 b.open {
  color: mediumseagreen;
}
#operateactionlogs tr .t1 b.close {
  color: darkgoldenrod;
}
#operateactionlogs tr .t2 a {
  color: darkseagreen;
  font-size: 12px;
  line-height: 12px;
  width: 120px;
  display: inline-block;
}
#operateactionlogs tr .t2 a:hover {
  text-decoration: underline;
}
#operateactionlogs tr .t3 a {
  display: inline-block;
  word-break: break-word;
  font-size: 12px;
  color: slategray;
  width: 260px;
}
#operateactionlogs tr .t3 a:hover {
  text-decoration: underline;
}
#operateactionlogs tr .t5 {
  max-width: 200px;
}
#operateactionlogs tr .t6 {
  color: #999;
}
#transfers .refresh {
  display: block;
  float: right;
  color: dodgerblue;
}
#transfers .refresh:hover {
  text-decoration: underline;
  cursor: pointer;
}
#transfers .con table td {
  border-bottom: 1px solid #00000011;
}
#transfers tr .t0 a {
  color: steelblue;
}
#transfers tr .t1 a {
  color: tan;
}
#transfers tr .t2 a {
  color: darkseagreen;
}
#transfers tr .t3 b {
  display: block;
  float: right;
  padding: 0px 3px;
  border-radius: 4px;
  color: cadetblue;
  font-weight: bold;
}
#transfers tr .t3 b.hacd {
  color: #55afff;
}
#transfers tr .t3 b.sat {
  color: #afa95d;
}
#transfers tr .t4 {
  color: #999;
}
#transfers td.amtw {
  position: relative;
}
#transfers td.amtw b {
  position: relative;
  z-index: 2;
}
#transfers td.amtw div.per {
  z-index: 1;
  position: absolute;
  right: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background-color: #00000011;
}
@media screen and (max-width: 512px) {
  #dfcts {
    margin-top: 20px;
  }
  #dfcts .wrap {
    background-color: #fff;
  }
  #dfcts .wrap .tt p,
  #dfcts .wrap .tt b {
    font-size: 14px;
  }
  .mtable.mbfix .container {
    padding: 0%;
    width: 100%;
  }
  .mtable.mbfix .wrap {
    border-radius: 0;
  }
  .mtable.mbfix .wrap h1 {
    display: block;
    padding-top: 40px;
    color: #566;
  }
  .mtable.mbfix .wrap .con {
    padding: 0;
  }
  .mtable.mbfix .wrap .con table tr {
    display: block;
    position: relative;
  }
  .mtable.mbfix .wrap .con table tr.row {
    padding-top: 1px;
    height: 60px;
    border-top: #ddd dotted 1px;
  }
  .mtable.mbfix .wrap .con table th {
    padding: 5px;
    background: none;
  }
  .mtable.mbfix .wrap .con table th.mbn {
    display: none !important;
  }
  .mtable.mbfix .wrap .con table td {
    display: block;
    position: absolute;
    left: 50px;
    top: 50px;
    border: none !important;
    padding: 0;
  }
  #coin3 {
    padding: 0;
  }
  #coin3 .container {
    padding: 0;
    margin: 0;
    width: auto;
  }
  #coin3 .wrap .tt {
    padding-top: 20px;
  }
  #coin3 .flex {
    display: block;
  }
  #coin3 .box,
  #coin3 .con {
    width: auto;
    min-height: 0;
  }
  #coin3 .lg {
    top: 18px;
    height: 22px;
  }
  #coin3 .li.no {
    display: none;
  }
  #blkrwd .rwdper .sld p {
    right: -40px;
    color: green;
  }
  #blkrwd .cbwrap {
    overflow-x: scroll;
  }
  #blkrwd .cblist {
    width: 1000px;
  }
  #blkrwd .con {
    padding: 20px 5px;
  }
  #topsc {
    padding: 10px 0 10px 0;
    text-align: center;
  }
  #topsc .wrap {
    display: block;
  }
  #topsc .logo {
    display: none;
  }
  #topsc .pttl {
    font-size: 22px;
  }
  #topsc .search {
    margin: 10px 30px 0;
  }
  #topsc .search input,
  #topsc .search button {
    font-size: 14px !important;
  }
  #ranking .dtshow .box {
    margin: 0 5px 20px;
  }
  #ranking .dtshow table td {
    padding: 5px !important;
    width: auto !important;
  }
  #ranking .rktable a.addr {
    line-height: 12px;
    width: 130px;
    word-break: break-all;
    display: block;
  }
  #ly2ch {
    margin: 0;
  }
  #ly2ch .wrap h1 {
    padding: 10px;
    padding-top: 20px;
  }
  #ly2ch .wrap .con {
    padding-top: 10px;
  }
  #ly2ch div.num {
    width: 49%;
    margin-bottom: 10px;
  }
  #ly2ch div.num h6 {
    font-size: 14px;
  }
  #ly2ch div.num b {
    font-size: 16px;
  }
  #ly2ch div.num b i {
    margin-left: 3px;
    font-weight: normal;
  }
  #dfcts_canvas {
    border: none;
  }
  #diamondcreatetxs {
    margin-top: 22px;
  }
  #diamondcreatetxs .wrap h1 {
    padding-top: 10px;
  }
  #diamondcreatetxs .wrap .con table .row td,
  #diamondcreatetxs .wrap .con table .row td a {
    display: block;
    height: 20px;
    line-height: 20px;
    max-width: 120px;
    overflow: hidden;
    white-space: nowrap;
    word-break: break-all;
    text-overflow: ellipsis;
  }
  #diamondcreatetxs .wrap .con table td.fee {
    color: rosybrown;
    font-weight: normal;
  }
  #diamondcreatetxs .wrap .con table td.i {
    color: #888;
  }
  #diamondcreatetxs .wrap .con table .t1 {
    top: 10px;
    left: 5px;
  }
  #diamondcreatetxs .wrap .con table .t2 {
    top: 10px;
    left: 30px;
  }
  #diamondcreatetxs .wrap .con table .t3 {
    top: 10px;
    left: 110px;
  }
  #diamondcreatetxs .wrap .con table .t4 {
    top: 10px;
    left: auto;
    right: 0px;
  }
  #diamondcreatetxs .wrap .con table .t5 {
    top: 30px;
    left: 30px;
  }
  #diamondcreatetxs .wrap .con table .t6 {
    top: 30px;
    left: 110px;
  }
  #diamondcreatetxs .wrap .con table .t7 {
    top: 30px;
    left: auto;
    right: 10px;
  }
  #lastdiampics .wrap .con {
    padding-top: 20px;
  }
  #blocks .wrap .con table .hd {
    min-width: 310px;
    text-align: center;
  }
  #blocks .wrap .con table .hd th {
    display: inline-block;
  }
  #blocks .wrap .con table .t1 {
    top: 10px;
    left: 0px;
  }
  #blocks .wrap .con table .t2 {
    top: 10px;
    left: 80px;
  }
  #blocks .wrap .con table .t3 {
    top: 10px;
    left: auto;
    right: 0px;
  }
  #blocks .wrap .con table .t4 {
    top: 10px;
    left: 240px;
    display: none !important;
  }
  #blocks .wrap .con table .t5 {
    top: 30px;
    left: 0px;
  }
  #blocks .wrap .con table .t7 {
    top: 30px;
    left: 80px;
  }
  #blocks .wrap .con table .t6 {
    top: 30px;
    left: 160px;
    display: none !important;
  }
  #blocks .wrap .con table .t8 {
    top: 30px;
    left: auto;
    right: 0px;
  }
  #transfers .wrap .con table tr.row {
    height: 75px;
  }
  #transfers .wrap .con table .t1 {
    top: 10px;
    left: 10px;
  }
  #transfers .wrap .con table .t2 {
    top: 26px;
    left: 10px;
  }
  #transfers .wrap .con table .t0 {
    top: 46px;
    left: auto;
    right: 95px;
    color: lightsteelblue;
  }
  #transfers .wrap .con table .t3 {
    top: 46px;
    left: 10px;
    position: absolute !important;
  }
  #transfers .wrap .con table .t3 .per {
    display: none !important;
  }
  #transfers .wrap .con table .t4 {
    top: 46px;
    left: auto;
    right: 15px;
  }
  #operateactionlogs .wrap .con table tr.row {
    min-height: 115px;
    height: auto;
  }
  #operateactionlogs .wrap .con table tr.row a,
  #operateactionlogs .wrap .con table tr.row b {
    font-size: 12px;
    line-height: 12px;
  }
  #operateactionlogs .wrap .con table th.thwd {
    min-width: 75px;
  }
  #operateactionlogs .wrap .con table td {
    display: block !important;
    text-align: left !important;
  }
  #operateactionlogs .wrap .con table .t0 {
    top: 10px;
    left: 10px;
  }
  #operateactionlogs .wrap .con table .t2 {
    top: 10px;
    left: 70px;
  }
  #operateactionlogs .wrap .con table .t6 {
    top: 80px;
    right: 10px;
    left: auto;
  }
  #operateactionlogs .wrap .con table .t1 {
    top: 10px;
    right: 10px;
    left: auto;
  }
  #operateactionlogs .wrap .con table .t4 {
    top: 26px;
    left: 10px;
  }
  #operateactionlogs .wrap .con table .t3,
  #operateactionlogs .wrap .con table .t5 {
    width: auto !important;
    margin-right: 80px !important;
    position: static !important;
    padding: 10px;
  }
  #operateactionlogs .wrap .con table .t3 {
    margin-top: 40px;
    padding-bottom: 0;
  }
}
