@font-face {
  font-family: 'ShareTechMono';
  src: url('/font/ShareTechMono-Regular.ttf');
}
@font-face {
  font-family: 'VT323';
  src: url('/font/VT323-Regular.ttf');
}
:root {
  --color-1: #041B2D;
  --color-2: #004E9A;
  --color-3: #8A5082;
  --color-4: #6F5F90;
  --color-5: #8A5082;
  --color-6: #FF7B89;
  --color-7: #F7D6E0;
  --color-8: #E5C1CD;
  --color-9: #EFF7F6;
  --color-10: #F3DBCF;
  --color-11: #AAC9CE;
  --color-12: #F2B5D4;
  --color-13: #7BDFF2;
  --color-14: #85CBCC;
  --color-15: #daad7b;
  --color-16: #F9E2AE;
}
.colortitlefont {
  color: #fff;
  text-transform: uppercase;
  background: linear-gradient(-21deg, var(--color-1) 19%, transparent 19%, transparent 20%, var(--color-2) 20%, var(--color-2) 39%, transparent 39%, transparent 40%, var(--color-3) 40%, var(--color-3) 59%, transparent 59%, transparent 60%, var(--color-4) 60%, var(--color-4) 79%, transparent 79%, transparent 80%, var(--color-5) 80%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-color: #fff;
  text-shadow: 1px 1px 1px #00000022;
}
#card {
  padding: 30px 0 20px 0;
}
#card .cdcon {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 20px auto;
  width: 800px;
  height: 500px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 1px 1px 1px #00000066, 3px 3px 6px #ffffff99 inset, -3px -3px 6px #00000022 inset, 0 0 30px #00000066;
}
#card .meta {
  z-index: 5;
  position: absolute;
  top: 8%;
  left: 5%;
  display: block;
  width: 90%;
  height: 84%;
}
#card .meta > div,
#card .meta > p {
  position: absolute;
  font-family: monospace;
}
#card .meta > div > *,
#card .meta > p > * {
  font-size: inherit;
  color: inherit;
  line-height: inherit;
}
#card .meta > div b,
#card .meta > p b {
  font-weight: bold;
}
#card .meta .bid {
  font-size: 14px;
  line-height: 14px;
  padding: 4px 12px;
  bottom: -10px;
  right: -10px;
  text-align: right;
  border-radius: 16px;
  background-image: linear-gradient(156deg, #00000066, transparent, transparent, #000000cc);
  color: #ffffff33;
  text-shadow: 1px 1px 0px #00000066;
  overflow: hidden;
  box-shadow: 2px 2px 4px #00000066;
}
#card .meta .blk {
  writing-mode: tb-rl;
  font-size: 12px;
  line-height: 18px;
  top: 70px;
  left: -2px;
  color: #00000066;
}
#card .meta .blk b {
  font-size: 16px;
  color: #00000088;
}
#card .meta .num {
  top: 0px;
  font-size: 26px;
  line-height: 26px;
  color: transparent;
  text-shadow: 0 0 20px #fff, 0 0 3px #fff, 0 0 10px #fff;
  width: 100%;
  text-align: center;
}
#card .meta .clb {
  width: 50px;
  height: 220px;
  left: 40px;
  top: 70px;
  border-radius: 0 100px;
  overflow: hidden;
}
#card .meta .dn {
  font-size: 50px;
  line-height: 50px;
  font-size: 55px;
  line-height: 55px;
  font-family: 'VT323', monospace;
  top: -11px;
  color: #fff;
  text-transform: uppercase;
  background: linear-gradient(-21deg, var(--color-1) 19%, transparent 19%, transparent 20%, var(--color-2) 20%, var(--color-2) 39%, transparent 39%, transparent 40%, var(--color-3) 40%, var(--color-3) 59%, transparent 59%, transparent 60%, var(--color-4) 60%, var(--color-4) 79%, transparent 79%, transparent 80%, var(--color-5) 80%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-color: #fff;
  text-shadow: 1px 1px 1px #00000022;
}
#card .meta .vg {
  width: 100%;
  bottom: -6px;
  color: #fff;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  transform: scaleY(1.6);
  text-shadow: 1px 1px 1px #00000066, 1px 1px 10px #000000bb;
  font-family: 'ShareTechMono', monospace;
}
#card .meta .gmn {
  writing-mode: tb-rl;
  left: 94px;
  bottom: -10px;
  font-size: 12px;
  transform: scaleY(0.9);
  color: green;
}
#card .meta .lgn {
  writing-mode: tb-rl;
  right: 42px;
  top: 152px;
  font-size: 14px;
  color: #ffffff99;
  transform: scaleY(1);
  transform-origin: top;
  letter-spacing: 12.3px;
  font-weight: bold;
}
#card .meta .lg {
  line-height: 25px;
  font-size: 25px;
  top: 150px;
  right: -50px;
  transform: scaleX(0.3333);
  transform-origin: top;
  color: #fff;
  text-transform: uppercase;
  background: linear-gradient(-21deg, var(--color-1) 19%, transparent 19%, transparent 20%, var(--color-2) 20%, var(--color-2) 39%, transparent 39%, transparent 40%, var(--color-3) 40%, var(--color-3) 59%, transparent 59%, transparent 60%, var(--color-4) 60%, var(--color-4) 79%, transparent 79%, transparent 80%, var(--color-5) 80%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-color: #fff;
  text-shadow: 1px 1px 1px #00000022;
}
#card .meta .cll {
  height: 195px;
  width: 10px;
  border-radius: 100px;
  background: #000;
  right: 74px;
  top: 153px;
}
#card .oh {
  z-index: 4;
  position: absolute;
  overflow: hidden;
}
#card .oh.h8 {
  border-radius: 1000px;
  top: 30px;
  right: 30px;
}
#card .oh.h9 {
  background-color: #ffffff66;
  left: 30px;
  bottom: 30px;
}
#card .ibg,
#card .img {
  position: relative;
  width: 500px;
  height: 500px;
}
#card .ibg {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  transform: scale(2);
  filter: blur(30px);
}
#card .img {
  z-index: 2;
  margin: auto;
}
#diamond a {
  word-break: break-all;
  color: #3c78c2;
}
#diamond a:hover {
  text-decoration: underline;
}
#diamond .pcard .row.first {
  border: none;
}
#diamond .pcard .row {
  position: relative;
  display: block;
  padding: 10px 0;
}
#diamond .pcard .row label {
  display: inline-block;
  width: 130px;
  padding-right: 20px;
  color: #aaa;
  font-size: 13px;
  text-align: right;
}
#diamond .pcard .row a.addr {
  font-size: 13px;
}
#diamond .pcard .row b {
  display: inline;
  font-size: 15px;
  color: #333;
}
#diamond .pcard .row b.hx {
  color: darkseagreen;
  font-size: 12px;
  word-break: break-all;
}
#diamond .pcard .row b.name {
  display: inline-block;
  height: 16px;
  line-height: 18px;
  padding: 4px 4px 4px 10px;
  background-color: aliceblue;
  color: darkcyan;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 6px;
  border-radius: 6px;
  border: 2px solid darkcyan;
  font-family: monospace;
  vertical-align: middle;
  background: linear-gradient(to right, aliceblue 50%, #d5e7f3 0);
  background-size: 8px 100%;
}
#diamond .pcard .row b.number {
  letter-spacing: 2px;
  color: peru;
  display: inline-block;
  border-bottom: 1px peru solid;
  border-top: 1px peru solid;
  padding-left: 3px;
}
#diamond .pcard .row b.amt {
  color: cadetblue;
}
#diamond .pcard .row i.time {
  font-size: 15px;
  color: #996;
}
#diamond .block .height {
  font-size: 14px;
}
#diamond .actions .kind {
  color: #996;
}
#diamond .actions .other {
  color: #999;
}
#diamond .notfind {
  display: block;
  margin: 40px;
  padding: 40px;
  text-align: center;
  border: 1px #bbb dashed;
}
#diamond .notfind p {
  color: #996;
  font-size: 20px;
}
#diamond #diaimg {
  text-align: center;
}
#diamond .diaitem {
  display: inline-block;
  border: 1px solid #88888844;
}
#diamond #showbigimg .diaitem {
  border: none;
}
#diamond .dnnv {
  text-align: center;
  position: relative;
  top: -40px;
}
#diamond .dnnv b.n1 {
  color: cadetblue;
  font-weight: bold;
  font-size: 30px;
}
#diamond .dnnv span.n2 {
  color: #aaa;
  font-size: 30px;
  margin-left: 20px;
}
#diamond .dnnv.top {
  top: 50px;
}
#diamond .dnnv.top span {
  color: #e6e6e6;
  font-weight: bold;
  font-size: 34px;
  margin-left: 0px;
}
.vbtn {
  padding-bottom: 20px;
  text-align: center;
}
.vbtn b {
  display: inline-block;
  color: slategray !important;
  border: 1px solid slategray;
  padding: 8px 12px;
  font-weight: bold;
  border-radius: 4px;
}
.vbtn b:hover {
  color: #3c78c2;
  border-color: #3c78c2;
  cursor: pointer;
}
.diait {
  display: inline-block;
  /* border: cadetblue 1px solid; */
  /* background-color: azure; */
  /* background-color: beige; */
}
#downloadsvg {
  margin-bottom: 40px;
}
#hip8img {
  display: block;
  width: 800px;
  margin: auto;
}
#hip8img svg {
  width: 800px;
  height: 800px;
}
#hip9img {
  display: block;
  width: 720px;
  padding-top: 24px;
  margin: auto;
}
#hip9img svg {
  transition: all 1s;
  width: 720px;
  height: 720px;
}
#hip9img.plrd {
  padding: 24px;
}
#hip9img.plrd svg {
  transform: scale(0.075);
}
.hip9wrap {
  position: relative;
  padding-top: 20px;
  margin-bottom: 40px;
}
.hip9wrap #lgret {
  display: block;
  font-size: 18px;
  text-align: CENTER;
  margin: 20px auto 40px;
  padding: 10px 0;
  max-width: 768px;
  color: darkgreen;
  background: #c6d6d6;
  opacity: 0;
}
.hip9wrap .lgcvs {
  display: block;
  margin: auto;
}
.hip9wrap .pbtn {
  display: none;
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  color: #ffffff99;
  text-align: center;
  line-height: 100px;
  font-size: 40px;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  background-color: #ffffff66;
  box-shadow: 2px 2px 4px #00000066;
  cursor: pointer;
}
.hip9wrap .pbtn:hover {
  background-color: #ffffff;
  color: #000;
}
.hip9wrap:hover .pbtn {
  display: block;
}
@media screen and (max-width: 512px) {
  .diapicwrap {
    zoom: 0.5;
  }
  #hip8img {
    zoom: 0.4;
  }
  .hip9wrap {
    zoom: 0.4;
  }
}
