[:
    var iscn = lang.useset == 'zh';
:]

<script src="/jslib/diamondgene.min.js?v=1"></script>
<script src="/jslib/diamondsvgimg.min.js?v=1"></script>
<script src="/jslib/sha3.min.js?v=1"></script>
<script src="/jslib/diamondbrilliance.min.js?v=1"></script>
<script src="/jslib/diamondlifegame.min.js?v=1"></script>


<!----------- top search ------------->

<div id="topsc">
    <div class="container">
        <div class="wrap">
            <div class="logo">
                <img class="lg" src="https://hacash.org/cssimg/hacash_sign.svg" />
            </div>
            <div class="grow">
                <h1 class="pttl">[:=lang.main.pttl:]</h1>
                <div class="search">
                    <input class="input" @keyup="keyEnterSearch" v-model="search_str" placeholder="Search by [:=lang.header.search_input_placeholder:]" />
                    <button @click="clickSearch">[:=lang.header.search:]</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!----------- supply ------------->


<div id="supply">

<div id="coin3" >
    <div class="container">
        <div class="flex">
            <div class="mtable mbfix box b1"><div class="wrap">
                <h1 class="tt">
                    HAC
                    <img class="lg" src="https://hacash.org/cssimg/hacash_logo.svg" />
                </h1>
                <div class="con">
                    <div class="li"><label>[:=lang.main.ttspl_total || "总量":]</label><b class="gs">♾️</b></div>
                    <div class="li"><label>[:=lang.main.ttspl_current_circulation || "实时流通":]</label><b class="nn">{{toThousands(parseFloat(d.current_circulation).toFixed(1))}}</b></div>
                    <div class="li"><label>[:=lang.main.ttspl_block_reward || "区块奖励":]</label><b>{{toThousands(parseFloat(d.block_reward).toFixed(1))}}</b></div>
                    <div class="li"><label>[:=lang.main.ttspl_burned_total || "已销毁":]</label><b>{{toThousands(parseFloat(d.burned_fee).toFixed(1))}}</b></div>
                    <div class="li"><label>[:=lang.main.ttspl_channel_interest || "通道利息":]</label><b>{{toThousands(parseFloat(d.channel_interest).toFixed(1))}}</b></div>
                    <div class="li time"><label>[:=lang.main.ttspl_mintstart || "开始时间":]</label><b>[:=iscn?'2019-2-4':'Feb 4, 2019':]</b></div>
                </div>
            </div></div>
            <div class="mtable mbfix box b2"><div class="wrap">
                <h1 class="tt">
                    HACD
                    <img class="lg" src="https://hacash.org/cssimg/hacash_hacd.svg" />
                </h1>
                <div class="con">
                    <div class="li"><label>[:=lang.main.ttspl_total || "总量":]</label><b>{{toThousands(16777216)}}</b></div>
                    <div class="li"><label>[:=lang.main.ttspl_minted_diamond || "已挖出":]</label><b class="nn">{{toThousands(d.minted_diamond)}}</b></div>
                    <div class="li"><label>[:=lang.main.ttspl_hacd_average_bid || "平均HAC竞价":]</label><b>ㄜ{{(parseFloat(d.burned_diamond_bid)/0.9/(parseInt(d.minted_diamond)-30000)).toFixed(2)}}</b></div>
                    <div class="li"><label>[:=lang.main.ttspl_hacd_inscription || "累计铭刻":]</label><b>{{d.diamond_engraved}}</b></div>
                    <div class="li"><label>[:=lang.main.ttspl_hacd_visualization || "可视化协议":]</label><b>{{3}}</b></div>
                    <div class="li time"><label>[:=lang.main.ttspl_mintstart || "开始时间":]</label><b>[:=iscn?'2019-5-16':'May 16, 2019':]</b></div>
                </div>
            </div></div>
            <div class="mtable mbfix box b3"><div class="wrap">
                <h1 class="tt">
                    BTC
                    <img class="lg" src="https://hacash.org/cssimg/hacash_btc.svg" />
                </h1>
                <div class="con">                    
                    <div class="li"><label>[:=lang.main.ttspl_total || "总量":]</label><b>{{toThousands(21000000)}}</b></div>
                    <div class="li"><label>[:=lang.main.ttspl_transferred_bitcoin || "已转移比特币":]</label><b class="nn">{{toThousands(d.transferred_bitcoin)}}</b></div>
                    <div class="li"><label>[:=lang.main.ttspl_btcmove_subsidy || "HAC补偿":]</label><b>ㄜ{{toThousands(parseFloat(d.trsbtc_subsidy).toFixed(1))}}</b></div>
                    <div class="li no"><label>-</label><b>-</b></div>
                    <div class="li no"><label>-</label><b>-</b></div>
                    <div class="li time"><label>[:=lang.main.ttspl_mintstart || "开始时间":]</label><b>[:=iscn?'未开始':'Coming soon':]</b></div>
                </div>
            </div></div>
        </div>
    </div>
</div>

<div id="blkrwd" class="mtable mbfix">
    <div class="container">
        <div class="wrap">
            <h1 class="tt">[:=lang.main.ttspl_hac_chart || "HAC统计图" :]</h1>
            <div class="con">
                <div class="cbwrap">
                    <div class="cblist" v-html="cblist"></div>
                </div>
                <div class="rwdper" v-html="rwdper"></div>
                <div class="burner" v-html="burner"></div>
            </div>
        </div>
    </div>
</div>


<a name="ly2ch"></a>
<div id="ly2ch" class="mtable mbfix">
    <div class="container">
        <div class="wrap">
            <h1 class="tt">[:=lang.main.ttspl_ly2ch || "二层通道数据":]</h1>
            <div class="con">
                <div class="num"><h6>[:=lang.main.ttspl_channel_of_opening || "已开启通道数：":]</h6><b>{{d.channel_opening}}</b></div>
                <div class="num"><h6>[:=lang.main.ttspl_located_in_channel || "已存入通道链网络：":]</h6><b>{{toThousands(parseFloat(d.channel_deposit).toFixed(1))}}<i>HAC</i></b></div>
                <div class="num"><h6>[:=lang.main.ttspl_channel_interest || "通道利息：":]</h6><b class="green">{{toThousands(parseFloat(d.channel_interest).toFixed(1))}}<i>HAC</i></b></div>
            </div>
        </div>
    </div>
</div>

</div>


<!----------- hashtate ------------->


<div id="dfcts"  class="mtable mbfix" >
    <div class="container">
        <div class="wrap">
            <div class="tt">
                [:=
                    lang.main.hash_power_title || 
                    "<p>全网目标哈希率：<b>{{tg_hs}}</b>， 实时哈希率：<b>{{rt_hs}}</b>，近200天算力相对波动：</p>"
                :]
            </div>
            <canvas class="dfctshow" id="dfcts_canvas">
                Your browser does not support canvas tag.
            </canvas>
        </div>
        <div class="wrap">
            <div class="tt">[:=lang.main.hash_power_title_all || "历史总波动曲线" :]</div>
            <canvas class="dfctshow" id="dfcts_canvas_all">
                Your browser does not support canvas tag.
            </canvas>
        </div>
    </div>
</div>


<!----------- diamond bidding ------------->

<a name="hacdvs"></a>
<div id="diabid" class="mtable mbfix" >
    <div class="container">
        <div class="wrap">
            <h1 class="pt">
                [:=
                    lang.main.diamond_mining_period ||
                    "序号 {{number}} 钻石实时竞价："
                :]
            </h1>
            <div class="con" v-if="txs.length>0">
                <table>
                    <tr class="hd">
                        <th class="">#</th>
                        <th>[:=lang.main.diamond_value || "钻石字面值":]</th>
                        <th class="hd">[:=lang.main.diamond_reward_address || "奖励地址":]</th>
                        <th>[:=lang.main.diamond_tx_hx || "交易哈希":]</th>
                        <th>[:=lang.main.diamond_fee_address || "竞价地址":]</th>
                        <th>[:=lang.main.diamond_fee_up || "当前出价":]</th>
                    </tr>
                    
                    <tr class="row" v-if="txs.length" v-for="(li, i) in txs">
                        <td class="t1 i">{{i+1}}</td>
                        <td class="t2 diamond">{{li.name}}</td>
                        <td class="t3 addr hd"><a target="_blank" :title="li.belong" :href="'/address/'+li.belong">{{li.belong.substring(0,13)}}...</a></td>
                        <td class="t4 hx">{{li.tx}}</td>
                        <td class="t6 addr f"><a target="_blank" :title="li.bid" :href="'/address/'+li.bid">{{li.bid.substring(0,9)}}...</a></td>
                        <td class="t5 fee">ㄜ{{li.fee}}</td>
                    </tr>
                </table>
            </div>
            <div v-if="txs.length===0">
                <p class="notyet">[:=lang.main.diamond_none || "暂无 ~":]</p>
            </div>
        </div>

    </div>
</div>


<!----------- latest diamond minted ------------->

<div id="ltsdias" class="mtable mbfix" >
    <div class="container">
        <div class="wrap">
            <h1 class="pt">
                [:=
                    lang.main.ldv_title || "最近6枚钻石视觉图"
                :]
                <a class="more" target="_blank" href="/diamond/views?page=1&limit=50&desc=true">[:=lang.main.ldv_more:]</a>
            </h1>
            <div class="con">

                <div class="dvhipck">
                    <div class="btns" title="Toggle HACD visualization standard">
                        <a dvhip="5" class="hipit h5 f [:=(!this.dvhip || this.dvhip==5)?'active':'':]">HIP-5</a>
                        <a dvhip="8" class="hipit h8   [:=this.dvhip==8?'active':'':]">HIP-8</a>
                        <a dvhip="9" class="hipit h9 e [:=this.dvhip==9?'active':'':]">HIP-9</a>
                    </div>
                    [:if(this.dvhip==8){:]
                    <div class="browsertip">
                        <p>[:=lang.common.hip8drawtip:]</p>
                    </div>    
                    [:}:]
                </div>

                <div id="diapic6">

                    <a class="diapic" target="_blank"></a>
                    <a class="diapic" target="_blank"></a>
                    <a class="diapic" target="_blank"></a>
                    <a class="diapic" target="_blank"></a>
                    <a class="diapic" target="_blank"></a>
                    <a class="diapic" target="_blank"></a>
    
                    <div class="viewdias">
                        <div class="vdbox">
                            <input v-model="scdiastr" placeholder="[:=lang.main.ldv_check_input_tip:]"  />
                            <button @click="checkDias">[:=lang.main.ldv_check:]</button>
                        </div>
                    </div>
                </div>
                

            </div>

        </div>

    </div>
</div>


<!----------- block fork check ------------->


<a name="blks"></a>
<div id="rctblks" class="mtable mbfix" >
    <div class="container">
        <div class="wrap">
            <h1 class="pt">
                [:=lang.main.block_forks || "区块监测":]
                <a class="more" target="_blank" href="/datas/forkblocks.log">Check Fork Log</a>
            </h1>
            <div class="con">

            </div>
        </div>
    </div>
</div>
