[:
    var iscn = lang.useset == 'zh';
:]

<script src="/jslib/diamondgene.min.js?v=1"></script>
<script src="/jslib/diamondsvgimg.min.js?v=1"></script>
<script src="/jslib/sha3.min.js?v=1"></script>
<script src="/jslib/diamondbrilliance.min.js?v=1"></script>
<script src="/jslib/diamondlifegame.min.js?v=1"></script>


<!----------- top search ------------->

<div id="topsc" v-cloak>
    <div class="container">
        <div class="wrap">
            <div class="logo">
                <img class="lg" src="https://hacash.org/cssimg/hacash_sign.svg" />
            </div>
            <div class="grow">
                <h1 class="pttl">[:=lang.main.pttl:]</h1>
                <div class="search">
                    <input class="input" @keyup="keyEnterSearch" v-model="search_str" placeholder="Search by [:=lang.header.search_input_placeholder:]" />
                    <button @click="clickSearch">[:=lang.header.search:]</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!----------- supply ------------->


<div id="supply" v-cloak>

<div id="coin3" >
    <div class="container">
        <div class="flex">
            <div class="mtable mbfix box b1"><div class="wrap">
                <h1 class="tt">
                    HAC
                    <img class="lg" src="https://hacash.org/cssimg/hacash_logo.svg" />
                </h1>
                <div class="con">
                    <div class="li"><label>[:=lang.main.ttspl_total || "总量":]</label><b class="gs">♾️</b></div>
                    <div class="li"><label>[:=lang.main.ttspl_current_circulation || "实时流通":]</label><b class="nn">{{toThousands(parseFloat(d.current_circulation).toFixed(1))}}</b></div>
                    <div class="li"><label>[:=lang.main.ttspl_block_reward || "区块奖励":]</label><b>{{toThousands(parseFloat(d.block_reward).toFixed(1))}}</b></div>
                    <div class="li"><label>[:=lang.main.ttspl_burned_total || "已销毁":]</label><b>{{toThousands(parseFloat(d.burned_fee).toFixed(1))}}</b></div>
                    <div class="li"><label>[:=lang.main.ttspl_channel_interest || "通道利息":]</label><b>{{toThousands(parseFloat(d.channel_interest).toFixed(1))}}</b></div>
                    <div class="li time"><label>[:=lang.main.ttspl_mintstart || "开始时间":]</label><b>[:=iscn?'2019-2-4':'Feb 4, 2019':]</b></div>
                </div>
            </div></div>
            <div class="mtable mbfix box b2"><div class="wrap">
                <h1 class="tt">
                    HACD
                    <img class="lg" src="https://hacash.org/cssimg/hacash_hacd.svg" />
                </h1>
                <div class="con">
                    <div class="li"><label>[:=lang.main.ttspl_total || "总量":]</label><b>{{toThousands(16777216)}}</b></div>
                    <div class="li"><label>[:=lang.main.ttspl_minted_diamond || "已挖出":]</label><b class="nn">{{toThousands(d.minted_diamond)}}</b></div>
                    <div class="li"><label>[:=lang.main.ttspl_hacd_average_bid || "平均HAC竞价":]</label><b>ㄜ{{(parseFloat(d.burned_diamond_bid)/0.9/(parseInt(d.minted_diamond)-30000)).toFixed(2)}}</b></div>
                    <div class="li"><label>[:=lang.main.ttspl_hacd_inscription || "累计铭刻":]</label><b>{{d.diamond_engraved}}</b></div>
                    <div class="li"><label>[:=lang.main.ttspl_hacd_visualization || "可视化协议":]</label><b>{{3}}</b></div>
                    <div class="li time"><label>[:=lang.main.ttspl_mintstart || "开始时间":]</label><b>[:=iscn?'2019-5-16':'May 16, 2019':]</b></div>
                </div>
            </div></div>
            <div class="mtable mbfix box b3"><div class="wrap">
                <h1 class="tt">
                    BTC
                    <img class="lg" src="https://hacash.org/cssimg/hacash_btc.svg" />
                </h1>
                <div class="con">                    
                    <div class="li"><label>[:=lang.main.ttspl_total || "总量":]</label><b>{{toThousands(21000000)}}</b></div>
                    <div class="li"><label>[:=lang.main.ttspl_transferred_bitcoin || "已转移比特币":]</label><b class="nn">{{toThousands(d.transferred_bitcoin)}}</b></div>
                    <div class="li"><label>[:=lang.main.ttspl_btcmove_subsidy || "HAC补偿":]</label><b>ㄜ{{toThousands(parseFloat(d.trsbtc_subsidy).toFixed(1))}}</b></div>
                    <div class="li no"><label>-</label><b>-</b></div>
                    <div class="li no"><label>-</label><b>-</b></div>
                    <div class="li time"><label>[:=lang.main.ttspl_mintstart || "开始时间":]</label><b>[:=iscn?'未开始':'Coming soon':]</b></div>
                </div>
            </div></div>
        </div>
    </div>
</div>

<div id="blkrwd" class="mtable mbfix">
    <div class="container">
        <div class="wrap">
            <h1 class="tt">[:=lang.main.ttspl_hac_chart || "HAC统计图" :]</h1>
            <div class="con">
                <div class="cbwrap">
                    <div class="cblist" v-html="cblist"></div>
                </div>
                <div class="rwdper" v-html="rwdper"></div>
                <div class="burner" v-html="burner"></div>
            </div>
        </div>
    </div>
</div>


<a name="ly2ch"></a>
<div id="ly2ch" class="mtable mbfix">
    <div class="container">
        <div class="wrap">
            <h1 class="tt">[:=lang.main.ttspl_ly2ch || "二层通道数据":]</h1>
            <div class="con">
                <div class="num"><h6>[:=lang.main.ttspl_channel_of_opening || "已开启通道数：":]</h6><b>{{d.channel_opening}}</b></div>
                <div class="num"><h6>[:=lang.main.ttspl_located_in_channel || "已存入通道链网络：":]</h6><b>{{toThousands(parseFloat(d.channel_deposit).toFixed(1))}}<i>HAC</i></b></div>
                <div class="num"><h6>[:=lang.main.ttspl_channel_interest || "通道利息：":]</h6><b class="green">{{toThousands(parseFloat(d.channel_interest).toFixed(1))}}<i>HAC</i></b></div>
            </div>
        </div>
    </div>
</div>

</div>


<!----------- hashtate ------------->


<div id="dfcts"  class="mtable mbfix" v-cloak>
    <div class="container">
        <div class="wrap">
            <div class="tt">
                [:=
                    lang.main.hash_power_title || 
                    "<p>全网目标哈希率：<b>{{tg_hs}}</b>， 实时哈希率：<b>{{rt_hs}}</b>，近200天算力相对波动：</p>"
                :]
            </div>
            <canvas class="dfctshow" id="dfcts_canvas">
                Your browser does not support canvas tag.
            </canvas>
        </div>
        <div class="wrap">
            <div class="tt">[:=lang.main.hash_power_title_all || "历史总波动曲线" :]</div>
            <canvas class="dfctshow" id="dfcts_canvas_all">
                Your browser does not support canvas tag.
            </canvas>
        </div>
    </div>
</div>



<!----------- latest diamond minted ------------->

<div id="ltsdias" class="mtable mbfix">
    <div class="container">
        <div class="wrap">
            <h1 class="pt">
                [:=
                    lang.main.ldv_title || "最近6枚钻石视觉图"
                :]
                <a class="more" target="_blank" href="/diamond-views?page=1&limit=50&desc=true">[:=lang.main.ldv_more:]</a>
            </h1>
            <div class="con">

                <div class="dvhipck">
                    <div class="btns" title="Toggle HACD visualization standard">
                        <a dvhip="5" class="hipit h5 f [:=(!this.dvhip || this.dvhip==5)?'active':'':]">HIP-5</a>
                        <a dvhip="8" class="hipit h8   [:=this.dvhip==8?'active':'':]">HIP-8</a>
                        <a dvhip="9" class="hipit h9 e [:=this.dvhip==9?'active':'':]">HIP-9</a>
                    </div>
                    [:if(this.dvhip==8){:]
                    <div class="browsertip">
                        <p>[:=lang.common.hip8drawtip:]</p>
                    </div>    
                    [:}:]
                </div>

                <div id="diapic6">

                    <a class="diapic" target="_blank"></a>
                    <a class="diapic" target="_blank"></a>
                    <a class="diapic" target="_blank"></a>
                    <a class="diapic" target="_blank"></a>
                    <a class="diapic" target="_blank"></a>
                    <a class="diapic" target="_blank"></a>
    
                    <div class="viewdias">
                        <div class="vdbox">
                            <input v-model="scdiastr" placeholder="[:=lang.main.ldv_check_input_tip:]"  />
                            <button @click="checkDias">[:=lang.main.ldv_check:]</button>
                        </div>
                    </div>
                </div>
                

            </div>

        </div>

    </div>
</div>



<!----------- diamond bidding ------------->

<a name="hacdvs"></a>
<div id="diabid" class="mtable mbfix" v-cloak>
    <div class="container">
        <div class="wrap">
            <h1 class="pt">
                [:=
                    lang.main.diamond_mining_period ||
                    "序号 {{number}} 钻石实时竞价："
                :]
            </h1>
            <div class="con" v-if="txs.length>0">
                <table>
                    <tr class="hd">
                        <th class="">#</th>
                        <th>[:=lang.main.diamond_value || "钻石字面值":]</th>
                        <th class="hd">[:=lang.main.diamond_reward_address || "奖励地址":]</th>
                        <th>[:=lang.main.diamond_tx_hx || "交易哈希":]</th>
                        <th>[:=lang.main.diamond_fee_address || "竞价地址":]</th>
                        <th>[:=lang.main.diamond_fee_up || "当前出价":]</th>
                    </tr>
                    
                    <tr class="row" v-if="txs.length" v-for="(li, i) in txs">
                        <td class="t1 i">{{i+1}}</td>
                        <td class="t2 diamond">{{li.name}}</td>
                        <td class="t3 addr hd"><a target="_blank" :title="li.belong" :href="'/address/'+li.belong">{{li.belong.substring(0,13)}}...</a></td>
                        <td class="t4 hx">{{li.tx}}</td>
                        <td class="t6 addr f"><a target="_blank" :title="li.bid" :href="'/address/'+li.bid">{{li.bid.substring(0,9)}}...</a></td>
                        <td class="t5 fee">ㄜ{{li.fee}}</td>
                    </tr>
                </table>
            </div>
            <div v-if="txs.length===0">
                <p class="notyet">[:=lang.main.diamond_none || "暂无 ~":]</p>
            </div>
        </div>

    </div>
</div>


<!----------- block fork check ------------->


<a name="blks"></a>
<div id="rctblks" class="mtable mbfix" >
    <div class="container">
        <div class="wrap">
            <h1 class="pt">
                [:=lang.main.block_forks || "区块监测":]
                <a class="more" target="_blank" href="/datas/forkblocks.log">Check Fork Log</a>
            </h1>
            <div class="con">

            </div>
        </div>
    </div>
</div>



<!----------- all blocks ------------->


<div id="blocks" class="mtable mbfix" v-cloak>
    <div class="container">
        <div class="wrap">
            <h1 class="pt">
                [:=lang.main.block_last || "最新出块":]
                <!-- <span class="tv">{{last_cuttime}}s [:=lang.main.block_auto_update || "自动更新":]</span> -->
            </h1>
            <div class="con">
                <table>
                    <tr class="hd">
                        <th>[:=lang.main.block_height || "高度":]</th>
                        <th>[:=lang.main.block_hash || "哈希":]</th>
                        <th>[:=lang.main.block_trs_num || "交易数":]</th>
                        <th>[:=lang.main.block_miner_name || "播报方":]</th>
                        <th>[:=lang.main.block_reward_address || "奖励地址":]</th>
                        <th class="mbn">[:=lang.main.block_reward_amt || "区块奖励":]</th>
                        <th>[:=lang.main.block_time || "时间":]</th>
                    </tr>
                    <tr class="row" v-for="one in blocks">
                        <td class="t1 hei">{{one.height}}</td>
                        <td class="t2 gray dts hx"><a target="_blank" :title="one.hash" :href="'/block/'+one.hash">{{one.hash.substring(0,22)+'...'+one.hash.substring(60)}}</a></td>
                        <td class="t3">{{one.txs}}</td>
                        <td class="t5 sienna">{{one.msg=='unknown'?'':one.msg}}</td>
                        <td class="t7 gray dts"><a target="_blank" :title="one.miner" :href="'/address/'+one.miner">{{one.miner.substr(0,13)+'...'}}</a></td>
                        <td class="t6">ㄜ{{one.reward}}</td>
                        <td class="t8 gray">{{formatDate(new Date(one.time*1000), 'MM-dd hh:mm:ss').replace('','')}}</td>
                    </tr>
                </table>
                <div class="pmore">
                    <a class="button" @click="queryBlks">[:=lang.main.block_show_more || "查看更多":]</a>
                </div>
            </div>
        </div>
    </div>
</div>


<!----------- all coin transfers ------------->


<div id="tsfs" class="mtable mbfix" v-cloak>
    <div class="container">
        <div class="wrap">
            <h1 class="pt">[:=lang.main.trs_last || "最近转账":]</h1>
            <div class="con">
                <table>
                    <tr class="hd">
                        <th>[:=lang.main.trs_block_height || "区块高度":]</th>
                        <th>[:=lang.main.trs_from || "From地址":]</th>
                        <th>[:=lang.main.trs_to || "To地址":]</th>
                        <th>[:=lang.main.trs_amount || "金额":]</th>
                    </tr>
                    <tr class="row" v-for="one in transfers">
                        <td class="t0"><a target="_blank" :href="'/block/'+one[0]">{{one[0]}}</a></td>
                        <td class="t1"><a target="_blank" :href="'/address/'+one[1]">{{one[1]}}</a></td>
                        <td class="t2"><a target="_blank" :href="'/address/'+one[2]">{{one[2]}}</a></td>
                        <td class="t3 amtw"><b :class="{hacd: one[3].indexOf('HACD')>-1, sat: one[3].indexOf('SAT')>-1}">{{one[3]}}</b><div class="per" :style="{width:one[4]}"></div></td>
                    </tr>
                </table>
                <div class="pmore">
                    <a class="button" @click="queryLogs">[:=lang.main.trs_show_more || "查看更多":]</a>
                </div>
            </div>
        </div>
    </div>    
</div>




<!----------- atcion operate ------------->



<div id="actopts" class="mtable mbfix" v-cloak>
    <div class="container">
        <div class="wrap">
            <h1 class="pt">[:=lang.main.oal_last || "最近金融操作":]</h1>
            <div class="con">
                <table v-if="logs && logs.length > 0">
                    <tr class="hd">
                        <th>[:=lang.main.oal_block_height || "区块":]</th>
                        <th>[:=lang.main.oal_ty || "操作类型":]</th>
                        <th>[:=lang.main.oal_data_id || "数据id":]</th>
                        <th class="thwd">[:=lang.main.oal_addr || "地址":]</th>
                        <th class="thwd">[:=lang.main.oal_notes || "详情数据":]</th>
                    </tr>
                    <tr class="row" v-for="one in logs">
                        <td class="t0"><a target="_blank" :href="'/block/'+one[0]">{{one[0]}}</a></td>
                        <td class="t1"><b :class="{open: one[3].indexOf('open')!=-1,close: one[3].indexOf('close')!=-1}">{{one[3]}}</b></td>
                        <td class="t2"><a target="_blank" :href="one[6]">{{one[4]}}</a></td>
                        <td class="t3">
                            <a class="a1" v-if="one[1].length>30" target="_blank" :href="'/address/'+one[1]">{{one[1]}}</a><br/>
                            <a class="a2" v-if="one[2].length>30" target="_blank" :href="'/address/'+one[2]">{{one[2]}}</a></td>
                        <td class="t5">{{one[5]}}</td>
                    </tr>
                </table>

                <div class="pmore" v-show="showMoreBtn">
                    <a class="button" @click="queryLogs">
                        <span v-show="firstMore">[:=lang.main.oal_show || "查看":]</span>
                        <span v-show="!firstMore">[:=lang.main.oal_show_more || "查看更多":]</span>
                    </a>
                </div>
            </div>
        </div>
    </div>    
</div>



<!----------- pool percent ------------->


<div id="poolct" class="mtable mbfix" v-cloak>
    <div class="container">
        <div class="wrap">
            <h1 class="pt">[:=lang.main.plct_ttl || "最近两周区块播报方排名":]</h1>
            <div class="con">

                <div class="pmore" v-if="!percts">
                    <a class="button" @click="queryStats">[:=lang.main.plct_showbtn:]</a>
                </div>

                <table v-if="percts">
                    <tr class="hd">
                        <th>#</th>
                        <th>[:=lang.main.plct_name || "播报方":]</th>
                        <th>[:=lang.main.plct_adr || "地址":]</th>
                        <th>[:=lang.main.plct_blkn || "区块数":]</th>
                        <th>[:=lang.main.plct_hsrt || "算力占比":]</th>
                        <th>[:=lang.main.plct_chg || "升降变化":]</th>
                    </tr>
                    <tr :class="(d.name=='unknown'?'ukn':'') + ' row'" v-for="(d,i) in percts">
                        <td class="i">{{i+1}}</td>
                        <td class="name">{{d.name}}</td>
                        <td class="adr">{{d.adr}}...</td>
                        <td class="pbw"><div class="pcbar">
                            <b v-if="d.width>=0.5" :style="'width:'+(d.width*100)+'%'">{{d.count}} ({{d.n2}},{{d.n1}})</b>
                            <div v-else><b :style="'width:'+(d.width*100)+'%'"></b><span>{{d.count}} ({{d.n2}},{{d.n1}})</span></div>
                        </div></td>
                        <td class="per">{{d.per}}%</td>
                        <td :class="'per ' + (d.chgp<0?'psub':'padd')">{{d.chgp>=0?'⇧':'⇣'}} {{d.chgp==0?'0.01':d.chgp}}%</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


<!----------- ranking top active ------------->



<a name="holders"></a>
<div id="ranking" class="mtable" v-cloak>
    <div class="container">
        <div class="wrap">
            <h1 class="pt">[:=lang.main.rk_title || "链上数据统计":]</h1>
            <div class="con">

                <div class="pmore" v-if="!actives">
                    <a class="button actvbtn " @click="queryActive">[:=lang.main.rk_chain_active:]</a>
                </div>

                <div class="dtshow" v-if="actives">
                    <div class="box t2">
                        <table>
                            <tr>
                                <th>Height</th>
                                <th>New Addr</th>
                                <th>Total Txs</th>
                                <th>HAC Trs Stats</th>
                                <th>HACD Trs Stats</th>
                                <th>BTC Trs Stats</th>
                            </tr>
                            <tr v-for="a in actives">
                                <td class="hei">{{a[0]*2000-2000}} ~</td>
                                <td>{{a[1]}}</td>
                                <td>{{a[2]}}</td>
                                <td class="lvbx">
                                    <div><label>Amount:</label>{{a[4].toFixed(2)}}</div>
                                    <div><label>Turnover:</label><i>{{a[3]}}</i> <b>{{(a[4]/supply.current_circulation*100).toFixed(2)}}%</b></div>
                                </td>
                                <td class="lvbx">
                                    <div><label>Amount:</label>{{a[8].toFixed(2)}}</div>
                                    <div><label>Turnover:</label><i>{{a[7]}}</i> <b>{{(a[8]/supply.minted_diamond*100).toFixed(2)}}%</b></div>
                                </td>
                                <td class="lvbx">
                                    <div><label>Amount:</label>{{a[6]}}</div>
                                    <div><label>Turnover:</label><i>{{a[5]}}</i> <b>{{(a[6]/(supply.transferred_bitcoin||1)*100).toFixed(2)}}%</b></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>


                <button class="tab t1" v-bind:class="{active: tabn=='hacash'}" @click="selectTop('HAC')">[:=lang.main.rk_tab_hacash:]</button>
                <button class="tab t2" v-bind:class="{active: tabn=='diamond'}"  @click="selectTop('HACD')">[:=lang.main.rk_tab_diamond:]</button>
                <button class="tab t3" v-bind:class="{active: tabn=='bitcoin'}"  @click="selectTop('BTC')">[:=lang.main.rk_tab_bitcoin:]</button>

                <div v-if="list && list.length==0">
                    <p style="color: #999;">- empty -</p>
                </div>

                <table class="rktable" v-if="list && list.length > 0">
                    <tr>
                        <th>#</th>
                        <th>Address</th>
                        <th>Balance</th>
                        <th>Percent</th>
                    </tr>
                    <tr class="row" v-for="li in list">
                        <td class="n">{{li.num}}</td>
                        <td class="adr"><a class="addr" target="_blank" :href="'/address/'+li.addr">{{li.addr}}</a></td>
                        <td class="amt">{{li.amount}} <i class="unit">{{tabn}}</i></td>
                        <td class="pc">{{li.percent}}%</td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>
