html,
body {
  background-color: #e6e9ee;
}
.container {
  max-width: 960px;
}
#header .tbwp {
  display: none;
}
#header .navs {
  background-image: linear-gradient(to bottom, #ffffff66, #00000033);
  border: none;
}
#header .nvs {
  justify-content: space-between;
}
.dfctshow {
  display: block;
  height: 100px;
  width: 100%;
  border-top: 1px solid #88888844;
}
div.pmore {
  display: block;
  padding: 20px 0;
  text-align: center;
}
div.pmore .button {
  display: inline-block;
  background: cadetblue;
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  height: 14px;
  padding: 6px 18px;
  border-radius: 4px;
  cursor: pointer;
}
div.pmore .button:hover {
  box-shadow: 1px 1px 8px #bbb;
}
div.pmore .button span {
  font-size: 12px;
  line-height: 14px;
}
.mtable .wrap {
  background-color: #f3f4f7;
  border-radius: 4px;
}
.mtable .wrap h1 {
  color: #233;
  font-size: 14px;
  line-height: 17px;
  padding: 10px 16px;
  position: relative;
}
.mtable .wrap h1 span.tv {
  padding-top: 2px;
  float: right;
  font-size: 10px;
  color: #999;
}
.mtable .wrap .con {
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  padding: 20px 0;
  text-align: center;
}
.mtable .wrap .con table {
  display: inline-block;
  border-collapse: collapse;
  border: none;
}
.mtable .wrap .con table tr {
  position: relative;
}
.mtable .wrap .con table th,
.mtable .wrap .con table td {
  padding: 10px;
  font-size: 12px;
  line-height: 14px;
}
.mtable .wrap .con table th {
  background: #a0cdcd22;
  color: #899;
  font-weight: bold;
}
.mtable .wrap .con table td {
  white-space: pre-wrap;
  word-break: break-all;
  border-bottom: 1px solid #00000011;
}
.mtable .wrap .con table td.gray {
  color: gray;
}
.mtable .wrap .con table td.hei {
  color: #899;
}
.mtable .wrap .con table td.sienna {
  color: sienna;
}
.mtable .wrap .con table td.dts a {
  color: darkseagreen;
  cursor: pointer;
}
.mtable .wrap .con table td.dts a:hover {
  text-decoration: underline;
}
.mtable .wrap .item {
  padding: 15px 0;
  border-bottom: #899 1px dashed;
}
.mtable .wrap .item p {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  word-break: break-all;
}
.mtable .wrap .item p u {
  display: inline-block;
  width: 30px;
}
.mtable .wrap .item p.wide {
  width: 180px;
}
.mtable .wrap .item p.block {
  width: auto;
  display: block;
}
.cfmtip {
  background-color: #eedba2;
  padding: 10px 12px;
  border-radius: 4px;
  color: chocolate;
}
#topsc {
  padding: 30px 0;
  background-color: #44648a;
  border-top: 1px solid #00000033;
}
#topsc * {
  text-shadow: 1px 1px 1px #00000066;
  color: #ffffffdd;
}
#topsc .wrap {
  display: flex;
  justify-content: left;
}
#topsc .grow {
  flex-grow: 1;
}
#topsc .lg {
  height: 64px;
  padding: 20px;
  background: #ffffff2f;
  border-radius: 100px;
  filter: grayscale(1);
  transform: rotate(0deg);
  margin-right: 60px;
  border: 5px solid #ffffff33;
  box-shadow: 0 0 50px #ffffff88;
}
#topsc .pttl {
  font-size: 32px;
  font-weight: 900;
  text-shadow: 0 0 30px #ffffffbb;
}
#topsc .search {
  margin-top: 12px;
  position: relative;
  height: 42px;
  background-color: #ffffffdd;
  border-radius: 7px;
}
#topsc .search input {
  display: block;
  width: 100%;
  height: 42px;
  padding: 0 12px;
  background: none;
  color: #000;
  font-size: 15px;
  text-shadow: none;
}
#topsc .search button {
  position: absolute;
  top: 2px;
  right: 2px;
  border-radius: 5px;
  height: 38px;
  line-height: 38px;
  padding: 0 20px;
  background: #55afff;
  font-size: 16px;
  font-weight: 900;
  background-image: linear-gradient(45deg, #f1aa40, #00b0ff);
}
#topsc .search button:hover {
  cursor: pointer;
  box-shadow: 1px 1px 2px 1px #00000099;
}
#topsc .search button:active {
  box-shadow: none;
}
/* supply */
#coin3 {
  padding-top: 12px;
}
#coin3 .flex {
  display: flex;
  justify-content: space-between;
}
#coin3 .box {
  width: 31.6%;
}
#coin3 .con {
  padding: 10px;
  min-height: 164px;
}
#coin3 .lg {
  height: 28px;
  filter: grayscale(0.5);
  position: absolute;
  top: 5px;
  right: 10px;
  transform: rotate(15deg);
}
#coin3 .li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
#coin3 .li label {
  font-size: 14px;
  color: #999;
}
#coin3 .li b {
  font-size: 16px;
}
#coin3 .li .nn {
  font-weight: bold;
}
#coin3 .b1 .nn {
  color: #009a00;
}
#coin3 .b2 .nn {
  color: #0ea1d2;
}
#coin3 .b3 .nn {
  color: indianred;
}
#coin3 .gs {
  filter: grayscale(1);
  opacity: 0.7;
}
#coin3 .li.time b {
  color: #999 !important;
}
#coin3 .li.no {
  opacity: 0;
}
#blkrwd .con {
  padding: 15px;
}
#blkrwd .cblist {
  position: relative;
  display: flex;
  align-items: end;
}
#blkrwd .cblist .tt {
  text-align: right;
  position: absolute;
  top: 20px;
  right: 10px;
  color: #00000055;
}
#blkrwd .cblist b {
  z-index: 2;
  position: relative;
  flex: 1;
  margin-left: 2px;
  height: 16px;
  background-image: linear-gradient(to top, #0000000f, #00000033);
  border-radius: 3px 3px 0 0;
}
#blkrwd .cblist b.h1 {
  height: 16px;
}
#blkrwd .cblist b.h2 {
  height: 32px;
}
#blkrwd .cblist b.h3 {
  height: 48px;
}
#blkrwd .cblist b.h5 {
  height: 80px;
}
#blkrwd .cblist b.h8 {
  height: 128px;
}
#blkrwd .cblist b.ps {
  background-image: linear-gradient(to top, #45750833, #467508ff);
}
@keyframes curbl {
  0% {
    box-shadow: 0 0 0px 0 green;
  }
  30% {
    box-shadow: 0 0 10px 0 green;
  }
  100% {
    box-shadow: 0 0 0px 0 green;
  }
}
#blkrwd .cblist b.cur {
  background: green;
  background-image: linear-gradient(to right, #16a316, green);
  box-shadow: 0 0 10px 0 green;
  z-index: 2;
  animation: curbl 3s infinite;
}
#blkrwd .cblist i {
  display: block;
  font-size: 12px;
  width: 100%;
  height: 14px;
  line-height: 14px;
  text-align: center;
  color: #fff;
}
#blkrwd .cblist .ps i,
#blkrwd .cblist .cur i {
  position: absolute;
  left: 0;
  bottom: 0px;
  font-weight: bold;
}
#blkrwd .cblist svg {
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
#blkrwd .rwdper {
  display: block;
  margin: 20px 0;
}
#blkrwd .rwdper .tt {
  position: absolute;
  width: 100%;
  line-height: 22px;
  text-align: center;
  color: #00000055;
}
#blkrwd .rwdper .bar {
  position: relative;
  width: 100%;
  height: 22px;
  border-radius: 3px;
  border: 1px solid #0000001f;
  background-image: linear-gradient(to right bottom, #ffffff1f, #0000001f);
}
#blkrwd .rwdper .sld {
  position: relative;
  background-color: #76944c;
  background-image: linear-gradient(to right, #76944c, green);
  height: 20px;
  margin: 1px;
  border-radius: 3px;
}
#blkrwd .rwdper .sld p {
  height: 22px;
  line-height: 22px;
  position: absolute;
  top: 0;
  right: 5px;
  color: #fff;
  font-weight: bold;
}
#blkrwd .rwdper .num {
  position: absolute;
  top: 0;
  right: 10px;
  display: flex;
  justify-content: space-between;
}
#blkrwd .rwdper .num p {
  height: 22px;
  line-height: 22px;
  color: #76944c;
  font-weight: bold;
}
#blkrwd .burner {
  position: relative;
  display: block;
  height: 24px;
}
#blkrwd .burner .cp {
  z-index: 1;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#blkrwd .burner .cp b,
#blkrwd .burner .cp p {
  padding: 0 10px;
  color: #0f5318;
}
#blkrwd .burner .cp p {
  font-weight: bold;
  opacity: 0.7;
}
#blkrwd .burner .cp i {
  color: #00000044;
}
#blkrwd .burner .cp .oo {
  position: absolute;
  background-color: #ffffff;
  height: 15px;
  width: 7px;
  top: 5px;
  left: -4px;
  z-index: 3;
  border-radius: 100%;
}
#blkrwd .burner .c1 {
  background-image: linear-gradient(to right, #00000011, #05780764);
  border-radius: 8px 0 0 8px;
}
#blkrwd .burner .c2 {
  z-index: 2;
  border-left: 1px solid #fff;
  left: auto;
  right: 0;
  background-image: linear-gradient(to left, #00000011, #b4070766);
  border-radius: 0 8px 8px 0;
}
#blkrwd .burner .c2 b,
#blkrwd .burner .c2 p {
  color: #892424;
}
#ly2ch .wrap .con {
  padding-bottom: 0;
}
#ly2ch div.num {
  display: inline-block;
  width: 32%;
  margin-bottom: 20px;
}
#ly2ch div.num h6 {
  font-size: 14px;
  color: #aaa;
}
#ly2ch div.num b {
  font-size: 18px;
  color: cornflowerblue;
}
#ly2ch div.num b.green {
  color: mediumseagreen;
}
#ly2ch div.num b.red {
  color: indianred;
}
#ly2ch div.num b.orange {
  color: orange;
}
#ly2ch div.num b i {
  margin-left: 5px;
  color: lightsteelblue;
  font-weight: bold;
}
@media screen and (max-width: 512px) {
  #dfcts {
    margin-top: 20px;
  }
  #dfcts .wrap {
    background-color: #fff;
  }
  #dfcts .wrap .tt p,
  #dfcts .wrap .tt b {
    font-size: 14px;
  }
  .mtable.mbfix .container {
    padding: 0%;
    width: 100%;
  }
  .mtable.mbfix .wrap {
    border-radius: 0;
  }
  .mtable.mbfix .wrap h1 {
    display: block;
    padding-top: 40px;
    color: #566;
  }
  .mtable.mbfix .wrap .con {
    padding: 0;
  }
  .mtable.mbfix .wrap .con table tr {
    display: block;
    position: relative;
  }
  .mtable.mbfix .wrap .con table tr.row {
    padding-top: 1px;
    height: 60px;
    border-top: #ddd dotted 1px;
  }
  .mtable.mbfix .wrap .con table th {
    padding: 5px;
    background: none;
  }
  .mtable.mbfix .wrap .con table th.mbn {
    display: none !important;
  }
  .mtable.mbfix .wrap .con table td {
    display: block;
    position: absolute;
    left: 50px;
    top: 50px;
    border: none !important;
    padding: 0;
  }
  #topsc {
    padding: 10px 0 10px 0;
    text-align: center;
  }
  #topsc .wrap {
    display: block;
  }
  #topsc .logo {
    display: none;
  }
  #topsc .pttl {
    font-size: 22px;
  }
  #topsc .search {
    margin: 10px 30px 0;
  }
  #topsc .search input,
  #topsc .search button {
    font-size: 14px !important;
  }
  #coin3 {
    padding: 0;
  }
  #coin3 .container {
    padding: 0;
    margin: 0;
    width: auto;
  }
  #coin3 .wrap .tt {
    padding-top: 20px;
  }
  #coin3 .flex {
    display: block;
  }
  #coin3 .box,
  #coin3 .con {
    width: auto;
    min-height: 0;
  }
  #coin3 .lg {
    top: 18px;
    height: 22px;
  }
  #coin3 .li.no {
    display: none;
  }
  #blkrwd .rwdper .sld p {
    right: -40px;
    color: green;
  }
  #blkrwd .cbwrap {
    overflow-x: scroll;
  }
  #blkrwd .cblist {
    width: 1000px;
  }
  #blkrwd .con {
    padding: 20px 5px;
  }
  #ly2ch {
    margin: 0;
  }
  #ly2ch .wrap h1 {
    padding: 10px;
    padding-top: 20px;
  }
  #ly2ch .wrap .con {
    padding-top: 10px;
  }
  #ly2ch div.num {
    width: 49%;
    margin-bottom: 10px;
  }
  #ly2ch div.num h6 {
    font-size: 14px;
  }
  #ly2ch div.num b {
    font-size: 16px;
  }
  #ly2ch div.num b i {
    margin-left: 3px;
    font-weight: normal;
  }
}
